﻿@model wzmData.Models.ResetTime

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar</h2>

<div class="ui bottom blue attached segment">

    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <label asp-for="UserId" class="control-label"></label>
            <select asp-for="UserId" class="ui selection dropdown" asp-items="ViewBag.UserId"></select>
        </div>
        <div class="field">
            <label asp-for="TimeId" class="control-label"></label>
            <select asp-for="TimeId" class="form-control" asp-items="ViewBag.TimeId"></select>
        </div>
       
        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>


