﻿@model IEnumerable<wzmData.Models.Pago>
<h4 class="ui horizontal divider header">

    Cantidad: @Model.ToList().Count()
</h4>
<form class="ui form">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.UserName)
                    </td>
                    <td>
                        <a data-tooltip="Eliminar" class="ui tiny negative button delete"
                           data-id="@item.Id"
                           data-controller="Pagos"
                           data-action="DeleteConfirmed"
                           data-header-message="Eliminar"
                           data-content-message="¿Deseas eliminar este Pago?"><i class="small remove icon"></i></a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


<div class="ui mini modal" id="deleteModalId">
    <div class="ui header" id="headerContent">

    </div>
    <div class="right aligned content" id="bodyContent">

    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui positive right labeled icon button" id="confirm-delete">
            <i class="checkmark icon"></i>
            Sí
        </div>
    </div>
</div>

<script src="~/js/delete.js"></script>

