﻿@model IEnumerable<wzmData.Models.ApplicationUsers>

<h4 class="ui horizontal divider header">

    @{
        decimal cobrar = 0;
        foreach (var item in Model)
        {
            cobrar += (decimal)item.ClasificadorPago.Importe;
        }
        <label>Cantidad:</label> @Model.ToList().Count(); <label>suarios con un monto a cobrar de @cobrar pesos</label>
    }


</h4>

<div class="ui form">
    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ClienteDesde)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPaymentState)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {

                <tr class="positive">
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                    </td>

                </tr>


            }
        </tbody>
    </table>
</div>




