﻿@model wzmData.Models.Pago
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/css/calendar.css" />

}

@await Component.InvokeAsync(nameof(Messages))


<h4 class="ui top attached block header">
    Adicionar Pago
</h4>
<div class="ui bottom blue attached segment">
    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="two fields">
            <div class="required field">
                <label asp-for="FechaPago"></label>
                <div class="ui calendar" id="fechaId">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input asp-for="FechaPago" type="text">
                    </div>
                </div>
            </div>

            <div class="field">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="ui search dropdown" asp-items="ViewBag.UsuarioId"></select>
            </div>
        </div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript" src="~/js/calendar.js"></script>
        <script>
            $(document).ready(function () {
                $('#fechaId').calendar({
                    type: 'date'
                });



            });
        </script>

    }
