﻿@model IEnumerable<wzmData.Models.ApplicationUsers>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2 class="ui header">
    <i class="ui dollar icon"></i>
    Pagos
</h2>
<form>
    @if (TempData["errorCredenciales"] != null)
    {

        <button disabled asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    }
    else
    {
        <button asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>

    }

</form>
<h4 class="ui horizontal divider header">
    <i class="dollar icon"></i>
    Pagos por Meses
</h4>
<div class="ui form">
    <div class="two fields">
        <div class="field">
            <select id="mes_Id" class="ui selection dropdown" asp-items="@ViewBag.Meses"></select>
        </div>
        <div class="field">
            <button class="ui small red button" id="mostrarId">Mostrar</button>
        </div>
    </div>
</div>
<div id="pagos_Table"></div>
<h4 class="ui horizontal divider header">
    <i class="user icon"></i>
    Día del Pago de los Usuarios
</h4>
<div class="ui form">
    <div class="two fields">
        <div class="field">
            <select id="clasificador_Id" class="ui selection dropdown" asp-items="@ViewBag.Clasificadores"></select>
        </div>
        <div class="field">
            <button class="ui small red button" id="mostrarUsuariosId">Mostrar</button>
        </div>
    </div>
</div>
<div id="usuarios_Table"></div>

<h4 class="ui horizontal divider header">
    <i class="user icon"></i>
    Por pagar mes acutal
</h4>

<form class="ui form">
    <table id="example" class="ui celled table">
        <thead>
            <tr>

                <th>
                    Usuario
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a asp-action="InsertPayment" data-tooltip="Insertar Pago" class="ui mini primary button" asp-route-id="@item.Id"><i class="dollar icon"></i></a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</form>
@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable();
            $('#mostrarId').click(function () {
                var i = $("#mes_Id").val();
                $(this).html('Cargando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'Pagos/GetPagos',
                    cache: false,
                    dataType: 'html',
                    data: { 'mes': i },
                    success: function (html) {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                        $('#pagos_Table').html(html);
                    },
                    error: function () {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                    },
                });
            });
            $('#mostrarUsuariosId').click(function () {
                var i = $("#clasificador_Id").val();
                $(this).html('Cargando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'Pagos/GetUsers',
                    cache: false,
                    dataType: 'html',
                    data: { 'clasificador': i },
                    success: function (html) {
                        $('#mostrarUsuariosId').html('Mostrar').removeClass().addClass('ui small red button');
                        $('#usuarios_Table').html(html);
                    },
                    error: function () {
                        $('#mostrarUsuariosId').html('Mostrar').removeClass().addClass('ui small red button');
                    },
                });
            });


        });


    </script>

}