﻿@model wzmData.ViewModels.DeviceViewModel
@using wzmCore.Enum
@{
    ViewData["Title"] = "ChangeIp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Cambiar IP
</h4>

<form asp-action="ChangeIp" class="ui form">
    <div class="ui bottom blue attached segment">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="two fields">

            <input hidden asp-for="UserId" />
            <div class="required field">
                <label asp-for="Ip"></label>
                <input id="ipField" asp-for="Ip" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>



        </div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </div>


</form>

