﻿@model wzmData.ViewModels.ChangeUserDevice
@{
    ViewData["Title"] = "ChangeClientDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>

<h4 class="ui top attached block header">
    Cambiar de Dispositivo a: @ViewBag.UserName
</h4>


<form asp-action="ChangeClientDevice" class="ui form">
    <div class="ui bottom blue attached segment">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui error message"></div>

        <input hidden asp-for="UserId" />

        <div class="three fields">
            <div class="field">
                <label>Dispositivo Actual:</label>
                <input asp-for="OldMac" disabled autocomplete="off" />

            </div>
        </div>

        <div class="three fields">
            <div class="required field">
                <label>Cambiar Por:</label>
                <input asp-for="NewMac" />
                <span asp-validation-for="NewMac" class="text-danger"></span>
            </div>
        </div>

        <div class="ui buttons">
            <a asp-action="Clients" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
   
   
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $('.ui.form')
                .form({
                    on: 'blur',
                    fields: {
                        NewMac: {
                            NewMac: 'NewMac',
                            rules: [{
                                type: 'regExp',
                                value: '^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$',
                                prompt: "La MAC introducida no es correcta."
                            }]

                        },

                    }
                })
                ;

        });



    </script>
}
