﻿@model wzm.ViewModels.UsuarioViewModel
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Adicionar Cliente</h2>


<form asp-action="Create" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h4 class="ui horizontal divider header">
        <i class="user icon"></i>
        Datos del Cliente
    </h4>



    <div class="four fields">

        <div class="required field">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="ClienteDesde"></label>
            <input asp-for="ClienteDesde" />
            <span asp-validation-for="ClienteDesde" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


    </div>
    <h4 class="ui horizontal divider header">
        <i class="computer icon"></i>
        Dispositivo
    </h4>

    @*<div class="three fields">

        <div class="field">
            <label asp-for="DispositivoId"></label>
            <select asp-for="DispositivoId" class="ui search dropdown" asp-items="ViewBag.DispositivoId"></select>
        </div>

        <div class="field">
            <label asp-for="PortalDeOrigen"></label>
            <select asp-for="PortalDeOrigen" class="ui search dropdown" asp-items="ViewBag.Salida"></select>
            <span asp-validation-for="UserPaymentState" class="text-danger"></span>
        </div>

        <div class="field">
            <label asp-for="UserConnectionType"></label>
            <select asp-for="UserConnectionType" class="ui search dropdown" asp-items="Html.GetEnumSelectList<UserConecctionType>()"></select>
            <span asp-validation-for="UserPaymentState" class="text-danger"></span>
        </div>


    </div>*@
    @*<h4 class="ui horizontal divider header">
        <i class="wi-fi icon"></i>
        IP
    </h4>

    <div class="three fields">
        <div class="field">
            <label asp-for="Mac"></label>
            <input asp-for="Mac" />
            <span asp-validation-for="Mac" class="text-danger"></span>
        </div>



        <div class="field">
            <label asp-for="TipoIp"></label>
            <select asp-for="TipoIp" id="tipoIp" asp-items="@Html.GetEnumSelectList<IpTypeEnum>()" class="ui search dropdown"></select>
            <span asp-validation-for="TipoIp" class="text-danger"></span>
        </div>

        <div id="ip_Id" class="field"></div>
    </div>*@

    <h4 class="ui horizontal divider header">
        <i class="payment icon"></i>
        Pago
    </h4>


    <div class="two fields">

        <div class="field">
            <label asp-for="UserPaymentState"></label>
            <select asp-for="UserPaymentState" class="ui search dropdown" asp-items="@Html.GetEnumSelectList<UserPaymentState>()"></select>
            <span asp-validation-for="UserPaymentState" class="text-danger"></span>
        </div>

        <div class="field">
            <label asp-for="ClasificadorPagoId"></label>
            <select asp-for="ClasificadorPagoId" class="ui search dropdown" asp-items="ViewBag.ClasificadorPagoId"></select>
        </div>
    </div>

    <h4 class="ui horizontal divider header">
       
        Servicios
    </h4>

    <div class="two fields">
        <div class="field">
            <label asp-for="Servicios"></label>
            <select asp-for="Servicios" asp-items="@ViewBag.Servicios" class="ui search dropdown" multiple></select>
            <span asp-validation-for="Servicios" class="text-danger"></span>
        </div>
    </div>

    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {


            $('#tipoIp').change(function () {

                var url = "@Url.Action("ShowIpField", "Clients")/" + $("#tipoIp option:selected").val();
                $('#ip_Id').load(url);

                });
            });

    </script>
}
