﻿@model wzm.ViewModels.UserEditViewModel
@using wzmCore.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Editar Administrador </h2>


<form asp-action="Edit" class="ui form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />



    <div class="three fields">
        <div class="field">
            <label>Usuario</label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        
        
    </div>

    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {


            $('#tipoIp').change(function () {

                var url = "@Url.Action("ShowIpField", "Clients")/" + $("#tipoIp option:selected").val();
                $('#ip_Id').load(url);

                });
            });

    </script>
}

