﻿

@using wzm.ViewComponents
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    Administradores
</h2>
@model IEnumerable<wzmData.Models.ApplicationUsers>
@using Microsoft.AspNetCore.Identity
@using wzmData.Models
@inject UserManager<ApplicationUsers> userManager


<table id="example" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>
                Administrador
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {

            <tr class="positive">
                <td>
                    @Html.DisplayFor(modelItem => usuario.UserName)
                </td>
            
            

                <td>
                    @Html.DisplayFor(modelItem => usuario.Estado)
                </td>
            

                <td>
                    <a asp-action="ResetPassword" data-tooltip="Cambiar Contraseña" asp-route-id="@usuario.Id"><i class="orange exchange icon"></i></a>
                    <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@usuario.Id"><i class="small blue edit icon"></i></a>
                    <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@usuario.Id"><i class="teal location arrow icon"></i></a>
                    <a asp-action="ChangeDevice" asp-controller="Administrador" data-tooltip="Cambiar Dispositvo" asp-route-id="@usuario.Id"><i class="ocean mobile alternate icon"></i></a>
                    <a asp-action="ChangeIp" asp-controller="Administrador" data-tooltip="Cambiar Ip" asp-route-id="@usuario.Id"><i class="red laptop icon"></i></a>
                </td>
            </tr>


        }
    </tbody>
</table>
