﻿@model wzm.ViewModels.ResetPassowrdViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h2>Cambiar Contraseña a @ViewBag.UserName</h2>
<div class="ui section divider"></div>
<form asp-action="ResetPassword" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ui error message"></div>
    <input asp-for="UserId" hidden />

    <div class="three fields">
        <div class="field">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" autocomplete="off" />

        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />

        </div>
    </div>


    <div class="ui buttons">
        <a asp-action="Clients" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>

@section scripts
    {

    <script>
        $(document).ready(function () {
            $('.ui.form')
                .form({
                    fields: {



                        NewPassword: {
                            identifier: 'NewPassword',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'El campo Nueva Contraseña es obligatorio'

                                }


                            ]
                        },
                        ConfirmPassword: {
                            identifier: 'ConfirmPassword',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'El campo Confirmación de contraseña es obligatorio'
                                },
                                {
                                    type: 'match[NewPassword]',
                                    prompt: 'El campo Contraseña y Confirmar Contraseña deben Coincidir.'
                                }

                            ]
                        },

                    }
                })
                ;
        });
    </script>

}

