﻿@model IEnumerable<tik4net.Objects.Ip.IpDhcpClient>



@foreach (var item in Model)
{
    if (item.Interface.Contains("*") || item.Status != tik4net.Objects.Ip.IpDhcpClient.ClientStatus.Bound)
    {
        <tr class="negative">
            <td>
                Interfaz
            </td>
            <td>
                Usar DNS
            </td>
            <td>
                Agregar Ruta
            </td>
            <td>
               Ip
            </td>
            <td>
                Estado
            </td>
            <td>
                <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red small delete icon"></i></a>
              
            </td>
        </tr>
    }
    else
    {
        <tr class="positive">
            <td>
                @Html.DisplayFor(modelItem => item.Interface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsePeerDns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDefaultRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Renew" data-tooltip="Renew Ip" asp-route-id="@item.Id"><i class="blue small refresh icon"></i></a>
                <a asp-action="Disconnect" data-tooltip="Release Ip" asp-route-id="@item.Id"><i class="red small repeat icon"></i></a>@*|*@
                @*<a asp-action="Delete" class="ui icon red button" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="delete icon"></i></a>*@
            </td>
        </tr>
    }
}

