﻿@model IEnumerable<tik4net.Objects.Ip.IpDhcpClient>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "DhcpClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))


<h2 class="ui header">
    DHCP Client
</h2>

<form class="ui form">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Interfaz")
                </th>
                <th>
                    @Html.DisplayName("Usar DNS")
                </th>
                <th>
                    @Html.DisplayName("Agregar Ruta")
                </th>
                <th>
                    @Html.DisplayName("Ip")
                </th>
                <th>
                    @Html.DisplayName("Estado")
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tableId">
            @foreach (var item in Model)
            {
                if (item.Interface.Contains("*") || item.Status != tik4net.Objects.Ip.IpDhcpClient.ClientStatus.Bound)
                {
                    <tr class="negative">
                        <td>
                            @Html.DisplayFor(modelItem => item.Interface)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsePeerDns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDefaultRoute)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red small delete icon"></i></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="positive">
                        <td>
                            @Html.DisplayFor(modelItem => item.Interface)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsePeerDns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDefaultRoute)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Renew" data-tooltip="Renew Ip" asp-route-id="@item.Id"><i class="blue small refresh icon"></i></a>
                            <a asp-action="Disconnect" data-tooltip="Release Ip" asp-route-id="@item.Id"><i class="red small repeat icon"></i></a>
                           
                        </td>
                    </tr>
                }

            }
        </tbody>

    </table>

</form>

@section Scripts{
   
    <script src="~/js/RefreshIpClient.js"></script>

}