﻿
@model IEnumerable<wzmCore.Services.Helpers.DeviceStatus>


@foreach (var item in Model)
{
<tr>
    <td>
        @item.Credential.Dispositivo.ToString()
    </td>
    <td>
        @item.Signal
    </td>
    <td>
        @item.Tx
    </td>
    <td>
        @item.Rx
    </td>
    <td>
        @item.TaskId
    </td>
</tr>
}







