﻿@model wzmData.Models.DeviceSignal
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<div class="ui header">
    <h2>Adicionar Intensidad Permitida</h2>
</div>

<form asp-action="Create" class="ui form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="field">
        <label class="control-label">Dispositivo</label>
        <select asp-for="DispositivoId" class="ui search dropdown" asp-items="ViewBag.DispositivoId"></select>
    </div>
    <div class="field">
        <label class="control-label">Señal Mínima</label>
        <input asp-for="MinimalSignal" class="form-control" />
        <span asp-validation-for="MinimalSignal" class="text-danger"></span>
    </div>
    <div class="field">
        <label class="control-label">Señal Máxima</label>
        <input asp-for="MaximumSignal" class="form-control" />
        <span asp-validation-for="MaximumSignal" class="text-danger"></span>
    </div>

    @*<div class="field">
        <div class="ui checkbox">
            <input asp-for="Enabled" type="checkbox" tabindex="0" class="hidden">
            <label>Habilitado</label>

        </div>
    </div>*@

    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>

</form>


<script>
    $(document).ready(function () {
        $('.ui.checkbox')
            .checkbox();
    });



</script>

