﻿@model wzmData.Models.DeviceSignal
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<div class="ui header">
    <h2>Editar Intensidad Permitida</h2>
</div>


<form asp-action="Edit" class="ui form">
    <input asp-for="DispositivoId" type="hidden" />
    <input asp-for="Enabled" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="field">
        <label>Señal Mínima</label>
        <input asp-for="MinimalSignal" class="form-control" />
        <span asp-validation-for="MinimalSignal" class="text-danger"></span>
    </div>
    <div class="field">
        <label>Señal Máxima</label>
        <input asp-for="MaximumSignal" class="form-control" />
        <span asp-validation-for="MaximumSignal" class="text-danger"></span>
    </div>
  
    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>


