﻿@using wzm.ViewComponents

@{
    ViewData["Title"] = "WirelessMonitor";

}

@model IEnumerable<wzmData.Models.DeviceSignal>
@await Component.InvokeAsync(nameof(Messages))
@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    Wireless Monitor
</h2>
<form>
    <button asp-action="Create" class="ui small primary labeled icon button">
        <i class="add circle icon"></i> Adicionar
    </button>
</form>
<table id="example" class="ui celled table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dispositivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimalSignal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumSignal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dispositivo.GetFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimalSignal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumSignal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>

                <td>
                    <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red recycle icon"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2 class="ui header">
    Intensidad de Señal
</h2>

<form>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Dispositivo")
                </th>
                <th>
                    @Html.DisplayName("Intensidad de la Señal")
                </th>

                <th>
                    @Html.DisplayName("Horizontal")
                </th>
                <th>
                    @Html.DisplayName("Vertical")
                </th>
                <th>
                    @Html.DisplayName("Task ID")
                </th>

            </tr>
        </thead>
        <tbody id="tableId">
            @foreach (var item in ViewBag.Signal)
            {
                <tr>
                    <td>
                        @item.Credential.Dispositivo.ToString()
                    </td>
                    <td>
                        @item.Signal
                    </td>
                    <td>
                        @item.Tx
                    </td>
                    <td>
                        @item.Rx
                    </td>
                    <td>
                        @item.TaskId
                    </td>
                </tr>
            }

    </table>
</form>
@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script src="~/js/RefreshMonitor.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        } });
    </script>
}
