﻿@model IEnumerable<tik4net.Objects.Ip.Hotspot.HotspotActive>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "HotSpot";
}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Usuarios HotSpot Conectados
</h2>

<div class="ui section divider"></div>
<form class="ui form">


    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Usuario")
                </th>

                <th>
                    @Html.DisplayName("Servidor")
                </th>
                <th>
                    @Html.DisplayName("Ip")
                </th>
                <th>
                    @Html.DisplayName("Uptime")
                </th>
                <th>
                    @Html.DisplayName("Session Time")
                </th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @item.Server
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.UpTime
                </td>
                <td>
                    @item.SessionTimeLeft
                </td>
               
            </tr>
            }
        </tbody>

    </table>



</form>

