﻿@model wzm.ViewModels.IpAddressViewModel

@{
    ViewData["Title"] = "Create ";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Ip Address
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Create">
        <div class="ui form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="required field">
                <label asp-for="Ip"></label>
                <input asp-for="Ip" placeholder="192.168.1.1" />
                <span asp-validation-for="Ip" class="field error"></span>
            </div>

            <div class="field">
                <label asp-for="Interface"></label>
                <select asp-for="Interface" asp-items="ViewBag.Interfaces"></select>
                <span asp-validation-for="Interface" class="text-danger"></span>
            </div>

        </div>
        <div class="ui section divider"></div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
