﻿@model IEnumerable<tik4net.Objects.Ip.Hotspot.HotspotUser>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "HotSpot";
}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Usuarios HotSpot
</h2>

<div class="ui section divider"></div>
<form class="ui form">


    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Servidor")
                </th>

                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Ip")
                </th>
                <th>
                    @Html.DisplayName("MAC")
                </th>
                <th>
                    @Html.DisplayName("Profile")
                </th>
                <th>
                    @Html.DisplayName("Uptime")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Server)
                </td>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.MacAddress
                </td>
                <td>
                    @item.Profile
                </td>
                <td>
                    @item.Uptime
                </td>
            </tr>
            }
        </tbody>

    </table>



</form>

