﻿@using wzmData.Models;
@model IEnumerable<Dispositivo>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}


@await Component.InvokeAsync(nameof(Messages))




<h4 class="ui horizontal divider header">
    Punto de Acceso
</h4>
<form class="ui form">

    <div class="fields">
        <div class="field">
            <button asp-action="CreateAp" class="ui small red labeled icon button">
                <i class="add circle icon"></i> Adicionar Ap
            </button>
        </div>
        @if (TempData["errorCredenciales"] != null)
        {
            <div class="field">
                <button disabled asp-controller="UbiquitiDiscovery" asp-action="Index" class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar
                </button>
            </div>

        }
        else
        {
            <div class="field">
                <button asp-controller="UbiquitiDiscovery" asp-action="Index" class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar
                </button>
            </div>

        }
    </div>

</form>
<span></span>
<form class="ui form">
    <table id="apTable" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hostname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WirelessMode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WirelessSecurity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hostname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.WirelessMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WirelessSecurity)
                    </td>
                    <td>
                        <a asp-action="ChangeToStation" data-tooltip="Cambiar a Estación" asp-route-id="@item.Id"><i class="small green mobile alternate icon"></i></a>
                        <a asp-action="EditAp" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>
                        <a asp-action="UpdateStations"  data-tooltip="Actualizar Estaciones" asp-route-id="@item.Id"><i class="small primary refresh icon"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</form>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>

        $(document).ready(function () {

            $('#stationTable').DataTable();
            $('#apTable').DataTable();
        });
    </script>
}
