﻿@model wzmData.Models.VpnServerInternet

@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h4 class="ui top attached block header">
    Adicionar Servidor VPN - Salida Internet
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dvi class="ui error message"></dvi>
        <div class="field">
            <label asp-for="User" class="control-label"></label>
            <input asp-for="User" class="form-control" />
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="Host" class="control-label"></label>
            <input asp-for="Host" class="form-control" />
            <span asp-validation-for="Host" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="VpnServerNacionalId" class="control-label"></label>
            <select asp-for="VpnServerNacionalId" class="form-control" asp-items="ViewBag.Nacional"></select>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="DisconnectOnPingFailed">
                <label asp-for="DisconnectOnPingFailed">¿Reiniciar si falla el ping?</label>
            </div>
        </div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>


