﻿@model IEnumerable<wzmData.Models.VpnServerInternet>


@using wzm.ViewComponents
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>VPN Internet</h2>

<form>
    <button asp-action="Create" class="ui small green labeled icon button">
        <i class="add circle icon"></i> Adicionar
    </button>
</form>
<table class="ui celled table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Host)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Host)
                </td>
                <td>
                    <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
