﻿@model IEnumerable<tik4net.Objects.Ip.Firewall.FirewallNat>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Nat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))


<h2 class="ui header">
    Firewall Nat
</h2>

<form class="ui form">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Action")
                </th>
                <th>
                    @Html.DisplayName("Chain")
                </th>

                <th>
                    @Html.DisplayName("Out Interface")
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tableId">
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutInterface)
                    </td>

                    <td>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red delete icon"></i></a>
                    </td>
                </tr>

            }
        </tbody>

    </table>

</form>

@*@section Scripts{

    <script src="~/js/RefreshIpClient.js"></script>

}*@