﻿@model IEnumerable<tik4net.Objects.Ip.IpAddress>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "IpAddressList";
}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Ip Address
</h2>

<div class="ui section divider"></div>
<form class="ui form">


    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Interfaz")
                </th>

                <th>
                    @Html.DisplayName("Dirección Ip")
                </th>
                <th>
                    @Html.DisplayName("Red")
                </th>
                <th>
                    @Html.DisplayName("Dinámica")
                </th>

               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interface)
                    </td>

                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.Network
                    </td>
                    <td class="center aligned">
                        @if (item.Dynamic)
                        {
                            <i class="small green checkmark icon"></i>
                        }

                    </td>
                    @*<td>
                        @if (!item.Dynamic)
                        {
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                            <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>
                        }

                    </td>*@
                </tr>
            }
        </tbody>

    </table>



</form>

