﻿@model wzmCore.WzmLicense.LicenseModel
@using wzmCore.Enum
@{
    ViewData["Title"] = "ActivationCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Código de Activación</h2>

<div class="ui bottom blue attached segment">
    <form asp-action="ActivationCode" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui error message"></div>
        <div class="four wide fields">
            <div class="required field">
                <label asp-for="ClientName"></label>
                <input asp-for="ClientName" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="LicenseType"></label>
                <select asp-for="LicenseType" asp-items="@Html.GetEnumSelectList<LicenseType>()" class="ui selection dropdown"></select>
                <span asp-validation-for="LicenseType" class="text-danger"></span>
            </div>
        </div>


        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui primary button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui red button">Guardar</button>
        </div>
    </form>
</div>