﻿@model wzm.ViewModels.FileUploadViewModel
@{
    ViewData["Title"] = "ImportLicense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        /*body {
            padding: 1em;
        }*/

        .ui.action.input input[type="file"] {
            display: none;
        }
    </style>

}
@using wzm.ViewComponents
@await Component.InvokeAsync(nameof(Messages))
<h2>Importar Licencia</h2>

<div class="ui bottom blue attached segment">
    <form asp-action="ImportLicense" enctype="multipart/form-data" method="post" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui action input">
            <input type="text" placeholder="licencia.lic" readonly>
            <input asp-for="UploadLicense" type="file">
            <button data-tooltip="Importar" class="ui red icon button" type="submit">
                <i class="download icon"></i>
            </button>
        </div>



        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui primary button">Cancelar</a>
            @*<div class="or" data-text="ó"></div>
            <button type="submit" class="ui red button">Guardar</button>*@
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $("input:text").click(function () {
            $(this).parent().find("input:file").click();
        });

        $('input:file', '.ui.action.input')
            .on('change', function (e) {
                var name = e.target.files[0].name;
                $('input:text', $(e.target).parent()).val(name);
            });
    </script>

}