﻿@model wzmCore.WzmLicense.LicenseModel

@using wzm.ViewComponents
@{
    ViewData["Title"] = "Licencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h2>Licencia</h2>
<form class="ui form">

    <button asp-action="ActivationCode" class="ui small primary labeled icon button">
        <i class="add circle icon"></i> Obtener Código de Activación
    </button>
    @if ((bool)ViewBag.ActivationCode)
    {
        <button asp-action="DownloadActivationCode" class="ui small green labeled icon button">
            <i class="download circle icon"></i> Descargar Código de Activación
        </button>
    }
    <button asp-action="ImportLicense" class="ui small red labeled icon button">
        <i class="key circle icon"></i> Importar Licencia
    </button>


</form>

<table class="ui stackable celled table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.ClientName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.LicenseType)
            </td>
            <td>
                @Html.DisplayFor(model => model.Periodo)
            </td>
        </tr>

    </tbody>
</table>

