﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Wi-Fi Zone Manager</title>
    <link rel="stylesheet" href="~/semantic/dist/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />



    @RenderSection("styles", required: false)

</head>
<body>
    @using wzm.ViewComponents
    <div class="ui fixed inverted blue menu">

        <div class="ui stackable container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="header item">WZM</a>

            @await Component.InvokeAsync(nameof(Menu))
            <partial name="_LoginPartial" />
        </div>
    </div>

    <div class="ui body-content container">

        @RenderBody()
        <div class="ui section divider"></div>
        <div class="inline fields">
            <div class="field">
                @*<a href="https://wwww.facebook.com" data-tooltip="Síguenos en Facebook" class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </a>*@

                <label>&copy; 2018 - @DateTime.Now.Year Wi-Fi Zone Manager by Ing. Leudys Nodarse Muñoz</label>
            </div>

        </div>
    </div>

    @*<script src="~/js/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/semantic/dist/semantic.js"></script>
    <script src="~/js/layout.js"></script>



    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#configModalId").on("click", function () {
                $("#configModal").modal({ blurring: true }).modal('setting', 'closable', false).modal('setting', 'transition', "vertical flip").modal('show');
            });

            $("#licenseModalId").on("click", function () {
                $("#licenseModal").modal({ blurring: true }).modal('setting', 'closable', false).modal('setting', 'transition', "vertical flip").modal('show');
            });
        });
    </script>

</body>
</html>
