@using Microsoft.AspNetCore.Identity
@using wzmCore.Interfaces
@using wzmData.Models
@inject SignInManager<ApplicationUsers> SignInManager
@inject UserManager<ApplicationUsers> UserManager
@inject IWzmCore wzmCore


@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="right menu">
        <div class="right menu">

            @{

                @if (User.IsInRole("Admin") && wzmCore.LicenseManager.Validated)
                {

                    <a id="configModalId" class="item"><i class="configure icon"></i></a>
                }

            }


            <div class="ui pointing dropdown link item">
                <i class="user icon"></i>@UserManager.GetUserName(User)
                <div class="menu">
                    <a class="item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" asp-route-retunUrl="@Url.Action("Index", "Home")">Cambiar Contrase&ntilde;a</a>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="item">Cerrar Sesion</a>

                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="right menu">
        <a asp-area="Identity" asp-page="/Account/Login" class="item">Login</a>
    </div>

}


