﻿@model IEnumerable<wzmCore.Data.Mikrotik.WirelessInterfaceModel>
@using Microsoft.AspNetCore.Identity
@if (User.IsInRole("Sub_Admin"))
{
    @foreach (var item in Model)
    {
        if (item.Internet)
        {
            <tr class="positive">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td class="center aligned">
                    <i class="large green checkmark icon"></i>
                </td>
                <td>
                    <a asp-action="Desconectar" data-tooltip="Desconectar" asp-route-id="@item.Name"><i class="teal refresh icon"></i></a>
                </td>
            </tr>
        }
        else
        {
            <tr class="negative">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>

                <td>
                </td>
            </tr>
        }

    }
}
else
{
    @foreach (var item in Model)
    {
        if (item.Internet)
        {
            <tr class="positive">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>


                <td class="center aligned">
                    <i class="large green checkmark icon"></i>
                </td>
                <td>
                    <a asp-action="Desconectar" data-tooltip="Desconectar" asp-route-id="@item.Name"><i class="teal refresh icon"></i></a>
                    @*@if (item.Enabled)
                        {
                            <a asp-action="EnablePortal" data-tooltip="Habilitar" asp-route-id="@item.Wireless"><i class="green power icon"></i></a>
                        }
                        else
                        {
                            <a asp-action="DesablePortal" data-tooltip="Deshabilitar" asp-route-id="@item.Wireless"><i class="violet ban icon"></i></a>
                        }*@
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Name"><i class="red delete icon"></i></a>

                </td>
            </tr>
        }
        else
        {
            <tr class="negative">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>


                <td class="center aligned">
                    @*<i class="large green unc icon"></i>*@
                </td>
                <td>
                    @*@if (item.Enabled)
                        {
                            <a asp-action="EnablePortal" data-tooltip="Habilitar" asp-route-id="@item.Wireless"><i class="green check icon"></i></a>
                        }
                        else
                        {
                            <a asp-action="DesablePortal" data-tooltip="Deshabilitar" asp-route-id="@item.Wireless"><i class="violet ban icon"></i></a>
                        }*@
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Name"><i class="red delete icon"></i></a>
                </td>
            </tr>
        }

    }
}




