﻿@model wzm.ViewModels.ToStationViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cpanel heading"></div>
<h4 class="ui top attached block header">
    Cambiar Dispositivo a Estación
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="ChangeToStation" class="ui form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="DeviceId" />
        @if (Model.Publico)
        {
            <div class="disabled field" id="apField">
                <div class="field">
                    <label>Ap</label>
                    <select asp-for="ApId" class="ui selection dropdown" asp-items="ViewBag.Ap"></select>

                </div>
            </div>
        }
        else
        {
            <div class="required field" id="apField">
                <div class="field">
                    <label>Ap</label>
                    <select asp-for="ApId" class="ui selection dropdown" asp-items="ViewBag.Ap"></select>
                    <span asp-validation-for="ApId" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="field">
            <div class="ui checkbox">
                <input id="publicoId" asp-for="Publico" type="checkbox" tabindex="0" class="hidden">
                <label name="Selected">Proveedor Público ó Red de Juegos</label>

            </div>
        </div>

        @if (Model.Publico)
        {
            <div class="two fields" id="proveedorPublico">
                <div class="field">
                    <label>Mac del Ap</label>
                    <input asp-for="Mac" />
                    <span asp-validation-for="Mac" class="text-danger"></span>
                </div>

                <div class="field">
                    <label>SSID</label>
                    <input asp-for="SSID" />
                    <span asp-validation-for="SSID" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="two disabled fields" id="proveedorPublico">
                <div class="field">
                    <label>Mac del Ap</label>
                    <input asp-for="Mac" />
                    <span asp-validation-for="Mac" class="text-danger"></span>
                </div>

                <div class="field">
                    <label>SSID</label>
                    <input asp-for="SSID" />
                    <span asp-validation-for="SSID" class="text-danger"></span>
                </div>
            </div>
        }


        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.ui.checkbox')
            .checkbox();
    </script>
    <script>

        $(document).ready(function () {
            //set initial state.

            $('#publicoId').change(function () {
                if (this.checked) {
                    var campos = document.getElementById("proveedorPublico");
                    campos.className = 'two fields';
                    var ap = document.getElementById("apField");
                    ap.className = 'required disabled field';
                    //var returnVal = confirm("Are you sure?");
                    //$(this).prop("checked", returnVal);
                }
                else {
                    var campos = document.getElementById("proveedorPublico");
                    campos.className = 'two disabled fields';
                    var ap = document.getElementById("apField");
                    ap.className = 'required field';
                }
                //$('#textbox1').val(this.checked);
            });
        });

            //function EnableDisableComponents(e, val) {
            //    if ($('#publicoId').is(":checked")) {
            //        var dhcp = document.getElementById("dhcpServer");
            //        dhcp.className = 'required disabled field';

            //        var campos = document.getElementById("proveedorPublico");
            //        campos.className = 'two fields'
            //    }
            //    else {

            //    }
            //};
    </script>
}
