﻿@model wzmData.Models.Dispositivo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cpanel heading"></div>
<h4 class="ui top attached block header">
    Cambiar Dispositivo a Punto de Acceso
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Edit" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
      
        <div class="field">
            <div class="field">
                <label>Ap</label>
                <select name="ApId" class="ui selection dropdown" asp-items="ViewBag.Ap"></select>
                @*<span asp-validation-for="WirelessSecurity" class="text-danger"></span>*@
            </div>
        </div>


        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>


