﻿@model wzmData.Models.StationDevice
@using wzmData.Enum
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cpanel heading"></div>
<h4 class="ui top attached block header">
    Editar Dispositivo Ubiquiti (Estación)
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Edit" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Mac" />
        <input type="hidden" asp-for="WirelessMode" />
        <input type="hidden" asp-for="Platform" />
        <input type="hidden" asp-for="Fabricante" />
        <div class="two required fields">
            <div class="field">
                <label asp-for="Hostname"></label>
                <input asp-for="Hostname" />
                <span asp-validation-for="Hostname" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Firmware"></label>
                <input asp-for="Firmware" />
                <span asp-validation-for="Firmware" class="text-danger"></span>
            </div>
        </div>
        <div class="three required fields">

            <div class="field">
                <label asp-for="SSID"></label>
                <input asp-for="SSID" />
                <span asp-validation-for="SSID" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Ip"></label>
                <input asp-for="Ip" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Ubicacion"></label>
                <input asp-for="Ubicacion" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
        </div>


        <h4 class="ui horizontal divider header">
            <i class="ui shield icon"></i> Seguridad
        </h4>


        <div class="field">
            <div class="field">
                <label asp-for="WirelessSecurity"></label>
                <select asp-for="WirelessSecurity" class="ui selection dropdown" asp-items="@Html.GetEnumSelectList<WirelessSecurity>()"></select>
                <span asp-validation-for="WirelessSecurity" class="text-danger"></span>
            </div>
        </div>


        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>


