﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuario Bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Su cuenta ha sido bloqueada. Para más información contacte al administrador.</p>
</header>
