﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    //Layout = null;
}

@section styles{
    <style type="text/css">
        body {
            /*background-color: #DADADA;*/
        }

            body > .grid {
                height: 50%;
            }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
}

<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    WZM Login
                </div>
            </h2>
            <form method="post" class="ui large form" id="formId">
                <div class="ui error message"></div>
                <div class="ui stacked segment">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="field">
                        @*<label asp-for="Input.User"></label>*@
                        <div class="ui left icon input">
                            <i class="user icon"></i>

                            <input asp-for="Input.User" />

                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input asp-for="Input.Password" />

                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="Input.RememberMe" type="checkbox" tabindex="0" class="hidden">
                            <label asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>

                        </div>
                    </div>

                </div>
            </form>
            <button id="buttonId" class="ui fluid small blue button">Login</button>
        </div>
    </div>

    @section Scripts{
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/semantic/dist/semantic.js"></script>
        <script src="~/js/site.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
 
        <script>
            $(document).ready(function () {
                $('.ui.checkbox')
                    .checkbox();
                $('#buttonId').on('click', function () {
                    if ($(this).hasClass('ui fluid small blue button')) {
                        $(this).html('Conectando...').toggleClass('disabled loading');
                        $('#formId').submit();
                    }
                    else {
                        $(this).html('Guardar').toggleClass('ui fluid large blue');
                    }
                });
            });
        </script>
    }


</body>
