﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>


        <form asp-route-returnUrl="@Model.ReturnUrl" class="ui form" method="post">
            <h4>Crear nuevo usuario.</h4>
         <div class="ui divider"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="field">
                <label asp-for="Input.User"></label>
                <input asp-for="Input.User"  />
                <span asp-validation-for="Input.User" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password"  />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword"  />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
