﻿@model wzmData.Models.FormasDePago

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Dispositivo Mikrotik (Punto de Acceso)
</h4>



<div class="ui bottom blue attached segment">

    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui error message"></div>
        <div class="two required fields">
            <div class="field">
                <label asp-for="Clasificador"></label>
                <select id="claisificador" class="ui selection dropdown" asp-items="@Html.GetEnumSelectList<wzmData.Enum.UserPayClaissifier>()"><option class="selected disabled">--Seleccionar--</option></select>
                <span asp-validation-for="Clasificador" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Moneda"></label>
                <select class="ui selection dropdown" asp-items="@Html.GetEnumSelectList<wzmData.Enum.MonedaPago>()"></select>
                <span asp-validation-for="Moneda" class="text-danger"></span>
            </div>

        </div>


        <div class="three fields">
            <div class="disabled field" id="telefono">
                <label asp-for="NumTelefono"></label>
                <input asp-for="NumTelefono" />
                <span asp-validation-for="NumTelefono" class="text-danger"></span>
            </div>
            <div class="disabled field" id="cuentaBancaria">
                <label asp-for="CtaBancaria"></label>
                <input asp-for="CtaBancaria" />
                <span asp-validation-for="CtaBancaria" class="text-danger"></span>
            </div>
            <div class="disabled field" id="direccion">
                <label asp-for="Direccion"></label>
                <input asp-for="Direccion" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>

@section Scripts{

    <script>


        $(document).ready(function () {
           
            $('#claisificador').change(function () {

                var value = $("#claisificador option:selected").val();
                              
                if (value == 0) {
                    document.getElementById("telefono").className = "required field";
                    document.getElementById("cuentaBancaria").className = "disabled field";
                    document.getElementById("direccion").className = "disabled field";

                }
                if (value == 1) {
                    document.getElementById("cuentaBancaria").className = "required field";
                    document.getElementById("telefono").className = "disabled field";
                    document.getElementById("direccion").className = "disabled field";
                }
                if (value == 2) {
                    document.getElementById("direccion").className = "required field";
                    document.getElementById("cuentaBancaria").className = "disabled field";
                    document.getElementById("telefono").className = "disabled field";
                }
               
            });


        });
    </script>

}