﻿@model IEnumerable<wzmData.Models.FormasDePago>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "FormasDePago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    <i class="ui dollar icon"></i>
    Formas de Pago
</h2>
<form class="ui form">
    <div class="field">
        <button asp-action="Create" class="ui small red labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    </div>



    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Clasificador
                </th>
                <th>
                    Moneda
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Cuenta Bancaria
                </th>
                <th>
                    Direccion
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clasificador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moneda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumTelefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CtaBancaria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>

        $(document).ready(function () {

            $('#example').DataTable();
        });</script>

}
