﻿@model IEnumerable<tik4net.Objects.Ip.IpArp>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "IpArp";
}

@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    Ip ARP
</h2>
<form>
    @if (TempData["errorCredenciales"] != null)
    {

        <button disabled asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    }
    else
    {
        <button asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>

    }
    <button asp-action="SaveToDatabase" class="ui small primary labeled icon button">
        <i class="save icon"></i> Hacer Salva
    </button>
    <button asp-action="RestoreToDevice" class="ui small red labeled icon button">
        <i class="restore icon"></i> Restaurar
    </button>
</form>

<div class="ui section divider"></div>
<form class="ui form">

    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Ip
                </th>
                <th>
                    MAC
                </th>
                <th>
                    Interfaz
                </th>
                <th>
                    DHCP
                </th>
                <th>
                    Dinámica
                </th>
                <th>
                    Inválida
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MacAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interface)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dhcp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dynamic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invalid)
                </td>
                <td>
                    <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="blue edit icon"></i></a>
                    <a asp-action="DisableOrEnable" data-tooltip="Habilitar" asp-route-id="@item.Id"><i class="green checkmark icon"></i></a>
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red delete icon"></i></a>
                </td>
            </tr>
                

            }
        </tbody>

    </table>
</form>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}