﻿@model IEnumerable<wzmData.Models.UserDevice>
    <h4 class="ui horizontal divider header">

        Cantidad: @Model.ToList().Count()
    </h4>
<table class="ui celled table">
    <thead>
        <tr>
            <th>
                Dispositivo
            </th>
            <th>
               Portal
            </th>

          
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Comment
            </td>
            <td>
                @item.PortalDeOrigen
            </td>
        </tr>
        }
    </tbody>

</table>
