﻿@model wzm.ViewModels.CantidadViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Portales al Mikrotik
</h4>

<div class="ui bottom blue attached segment">



    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="three fields">
            <div class="field">
                <label asp-for="Cantidad"></label>
                <input asp-for="Cantidad" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>

            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label asp-for="Ip"></label>
                <input asp-for="Ip" />
                <span asp-validation-for="Ip" class="text-danger"></span>

            </div>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="QoS">
                <label>Calidad de Servicio (QoS)</label>
            </div>
        </div>



        <div class="ui section divider"></div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Añadir</button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.ui.checkbox')
            .checkbox();
    </script>

}


