﻿@model wzm.ViewModels.DeleteRangeViewModel

@{
    ViewData["Title"] = "DeleteByRange";
}



<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Eliminar Portales por Rango
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="DeleteByRange" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="two fields">
            <div class="field">
                <label asp-for="Desde"></label>
                <select asp-for="Desde" asp-items="ViewBag.DesdeId" class="ui selection dropdown"></select>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label asp-for="Hasta"></label>
                <select asp-for="Hasta" asp-items="ViewBag.HastaId" class="ui selection dropdown"></select>
            </div>

        </div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>
