﻿@model wzmData.Models.PortalesEtecsa

@{
    ViewData["Title"] = "Delete";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Eliminar Portal
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="DeletePost" class="ui form">
        <h3>¿Usted está seguro que desea eliminar el portal @Html.DisplayFor(model => model.Interfaz)?</h3>





        <input type="hidden" asp-for="Interfaz" />

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>