﻿@model  wzmData.Models.PortalesEtecsa

@{
    ViewData["Title"] = "DeshabilitarPortal";
}

<h2>Deshabilitar Portal</h2>

<h3>¿Usted está seguro que desea deshabilitar este portal?</h3>
<div>

    <hr />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Portal: @Html.DisplayFor(model => model.Interfaz) </label>
    </div>



    <form asp-action="DeshabilitarPost">
        <input type="hidden" asp-for="Interfaz" />
        <input type="submit" value="Deshabilitar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
