﻿@model IEnumerable<wzmCore.Data.Mikrotik.WirelessInterfaceModel>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Portales ";
}


@await Component.InvokeAsync(nameof(Messages))



<h2 class="ui header">
    Portales de Nauta
</h2>

<div class="ui section divider"></div>
<h3 class="ui header">
    Dispositivos por Portal
</h3>

<div class="three fields">

    <div class="field">

        <select name="List" class="ui search dropdown" asp-items="ViewBag.Salida" id="salida_id"><option>--Seleccionar--</option></select>

    </div>

</div>


<div id="users_Table"></div>
<div class="ui section divider"></div>
<form class="ui form">

    <div class="inline fields">

        <div class="field">
            <button asp-action="Create" class="ui small primary labeled icon button">
                <i class="add circle icon"></i> Adicionar
            </button>

        </div>
        <div class="field">
            <button asp-action="DeleteByRange" class="ui small negative labeled icon button">
                <i class="recycle circle icon"></i> Eliminar por Rango
            </button>

        </div>
    </div>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Número")
                </th>
                <th>
                    @Html.DisplayName("Interfaz")
                </th>

                <th>
                    @Html.DisplayName("Internet")
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbodyId">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>


                    <td class="dimmable">
                        <div class="ui active inverted dimmer">
                            <div class="ui loader"></div>
                        </div>
                    </td>

                    <td>

                        @*@if (item.Enabled)
                            {
                                <a asp-action="EnablePortal" data-tooltip="Habilitar" asp-route-id="@item.Wireless"><i class="green check icon"></i></a>
                            }
                            else
                            {*@
                        @*<a asp-action="DesablePortal" data-tooltip="Deshabilitar" asp-route-id="@item.Wireless"><i class="violet ban icon"></i></a>
                            }*@
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Name"><i class="red delete icon"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>



</form>
@section Scripts{
    <script src="~/js/example.js"></script>

    <script>

        $(document).ready(function () {
            $('#salida_id').change(function () {
                var i = $("#salida_id").val();

                $.ajax({

                    url: 'PortalNauta/GetClientsPortal',
                    cache: false,
                    dataType: 'html',
                    data: { 'portal': i },
                    success: function (html) {

                        $('#users_Table').html(html);
                    },
                    error: function () {

                    },
                });
            });
        });
    </script>


}
