﻿
<table class="ui table" id="devicesId">

    <tbody>
        <tr>
            <td><h4>Activos</h4></td>
            <td>@ViewBag.Activos</td>
        </tr>
        <tr>
            <td><h4>Inactivos o Inaccesible</h4></td>
            <td>@ViewBag.Inactivos</td>
        </tr>
    </tbody>
</table>