﻿@model wzmData.ViewModels.ClientInfoViewModel

<div class="ui card">

    <div class="content">
        <h4 class="ui sub header">IP</h4>
        <div class="meta">
            <span>@Model.Ip</span>
        </div>

    </div>
    <div class="extra content">
        <h4 class="ui sub header">portal</h4>
        <div class="meta">
            <span>@Model.Wlan</span>
        </div>
    </div>

    @if (Model.Internet == "Sí")
    {
        <div class="extra content">
            <h4 class="ui sub header">¿Internet?</h4>
            <div class="meta">
                <span>Sí</span>
            </div>
        </div>
    }
    else
    {
        <div class="extra content">
            <h4 class="ui sub header">¿Internet?</h4>
            <div class="meta">
                <span>No</span>
            </div>
        </div>
    }

    @if (TempData["errorCredenciales"] != null || Model.Internet == "No")
    {

        <div class="ui bottom attached disabled primary button">
            <i class="close icon"></i>
            Cerrar Sesión
        </div>
    }
    else
    {
        <div class="ui bottom attached primary button" id="desconectarEtecsa">
            <i class="close icon"></i>
            Cerrar Sesión
        </div>
    }
</div>



<script>
    $(document).ready(function () {
        $('.button').click(function () {
            $('.ui.mini.modal.desconectar').modal({
                inverted: true
            }).modal('show');
        });
    });
</script>
