﻿@model tik4net.Objects.System.SystemResource

@*<table class="ui table" id="cpu">

    <tr>
        <td><h4>Tiempo Encendido:</h4></td>
        <td>@Html.DisplayFor(model => model.Uptime)</td>
    </tr>
    <tr>
        <td class="left aligned"><h4>CPU:</h4></td>
        <td>@Html.DisplayFor(model => model.Cpu)</td>

    </tr>
    <tr>
        <td class="left aligned"><h4>Cantidad de CPU:</h4></td>
        <td>@Html.DisplayFor(model => model.CpuCount)</td>

    </tr>
    <tr>
        <td class="left aligned"><h4>Frecuencia del CPU:</h4></td>
        <td>@Html.DisplayFor(model => model.CpuFrequency)</td>

    </tr>
    <tr>
        <td class="left aligned"><h4>Uso del CPU:</h4></td>
        <td>@Html.DisplayFor(model => model.CpuLoad)%</td>

    </tr>
    <tr>
        <td class="left aligned"><h4>RouterOS:</h4></td>
        <td>@Html.DisplayFor(model => model.Version)</td>

    </tr>
    <tr>
        <td class="left aligned"><h4>Tipo:</h4></td>
        <td>@Html.DisplayFor(model => model.BoardName)</td>

    </tr>
</table>*@

<div id="cpuId" class="value">
    @Html.DisplayFor(model => model.CpuLoad)%
</div>