﻿
@{
    ViewData["Title"] = "Atrasado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Usuario: @ViewBag.UserName</h1>
<h2 class="text-danger">Se le ha suspendido el ó los servicios por falta de pago.</h2>

