﻿
@model wzmData.ViewModels.ClientInfoViewModel
@using wzm.ViewComponents

@{
    ViewData["Title"] = "Desconectar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))

<h4 class="ui horizontal divider header">
    <i class="wifi icon"></i>
    Información de Conexión
</h4>

<div class="panel-heading"></div>
<input type="hidden" asp-for="Ip" id="ip" />
<input type="hidden" asp-for="Wlan" id="wlan" />
<div class="ui two column centered grid" id="indexTable">


    <div class="ui card">

        <div class="content">
            <h4 class="ui sub header">IP</h4>
            <div class="meta">
                <span>@Model.Ip</span>
            </div>

        </div>
        <div class="extra content">
            <h4 class="ui sub header">portal</h4>
            <div class="meta">
                <span>@Model.Wlan</span>
            </div>
        </div>
        <div class="extra content">
            <h4 class="ui sub header">¿Internet?</h4>

        </div>

        <div class="ui bottom attached segment">

            <div class="ui active loader"></div>

        </div>
    </div>

</div>
<form asp-action="Desconectar" class="ui mini modal desconectar" asp-route-id="@Model.Wlan">

    <div class="ui header">
        Cerrar Sesión de Etecsa
    </div>
    <div class="right aligned content">
        ¿Desea Cerrar la Cuenta?

    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i>
            No
        </div>
        <button class="ui positive right labeled icon button">
            <i class="checkmark icon"></i>
            Sí
        </button>
    </div>
</form>

@section Scripts{

    <script>

        $(document).ready(function () {

            var wlan = $("#wlan").val();
            var ip = $("#ip").val();
            $.ajax({

                url: 'Home/InternetInfo',
                cache: false,
                dataType: 'html',
                data: { 'wlan': wlan, 'ip': ip },
                success: function (html) {
                    $('#indexTable').html(html);
                },
            });


        });


    </script>

}
