﻿@model IEnumerable<wzmCore.Data.Mikrotik.WirelessInterfaceModel>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Portales ";
}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Portales de Nauta
</h2>
<form class="ui form">
      
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Número")
                </th>
                <th>
                    @Html.DisplayName("Interfaz")
                </th>

                <th>
                    @Html.DisplayName("Internet")
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbodyId">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>


                    <td class="dimmable">
                        <div class="ui active inverted dimmer">
                            <div class="ui loader"></div>
                        </div>
                    </td>                    
                </tr>
            }
        </tbody>

    </table>
</form>
@section Scripts{
   
<script>
    $(document).ready(function () {
        var url = 'PortalNauta/GetTableByUserPartial';
        $('#tbodyId').load(url);

        $('#buttonId').click(function () {
            $('#buttonId').load(url);
        });




    });
</script>   

}
