﻿@model tik4net.Objects.System.SystemResource
@using wzm.ViewComponents

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))


<div class="panel-heading"></div>

<div class="ui grid stackable padded">
    <div class="four wide computer eight wide tablet sixteen wide mobile  center aligned column">
        <div class="ui teal statistic">
            <div class="value">
                @ViewBag.ClientDevices
            </div>
            <div class="label">
                Dispositivos de los Clientes
            </div>
        </div>
    </div>
    <div class="four wide computer eight wide tablet sixteen wide mobile  center aligned column">
        <div class="ui purple statistic">
            <div class="value">
                @ViewBag.Portales
            </div>
            <div class="label">
                Portales
            </div>
        </div>
    </div>
    <div class="four wide computer eight wide tablet sixteen wide mobile  center aligned column">
        <div class="ui green statistic">
            <div class="value">
                @ViewBag.Morosos
            </div>
            <div class="label">
                Morosos
            </div>
        </div>
    </div>
    <div class="four wide computer eight wide tablet sixteen wide mobile  center aligned column">
        <div class="ui purple statistic">
            <div id="cpuId" class="value">
                0%
            </div>
            <div class="label">
                Mikrotik CPU
            </div>
        </div>
    </div>
</div>

<div class="ui three column stackable grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header red">
                    <i class="icon dollar"></i>
                </div>
                <div class="header">
                    <div class="ui red header">
                        @ViewBag.TotalAnual
                    </div>
                </div>
                <div class="meta">
                    Anual pagado
                </div>
                <div class="description">
                    <table class="ui table">
                        <tbody>
                            <tr>
                                <td><h5>Pagos</h5></td>
                                <td>@ViewBag.Pagos</td>

                            </tr>
                            <tr>
                                <td><h5>Por Pagar</h5></td>
                                <td>@ViewBag.UsuariosPagar</td>

                            </tr>

                            <tr>
                                <td class="positive"><h4>Total Cobrado</h4></td>
                                <td class="positive">@ViewBag.Total</td>

                            </tr>
                            <tr>
                                <td class="negative"><h4>Por Cobrar Usuarios Habilitados</h4></td>
                                <td class="negative">@ViewBag.PorCobrarH</td>

                            </tr>
                            <tr>
                                <td class="negative"><h4>Por Cobrar Usuarios Deshabilitados</h4></td>
                                <td class="negative">@ViewBag.PorCobrarD</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="extra content">

                <div class="ui two buttons">

                    <a asp-action="Index" asp-controller="Pagos" class="ui red button">Mostrar</a>

                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header teal">
                    <i class="icon computer"></i>
                </div>
                <div class="header">
                    <div class="ui teal header">@ViewBag.Dispositivos</div>
                </div>
                <div class="meta">
                    Dispositivos
                </div>
                <div class="description">
                    <table class="ui table" id="devicesId">

                        <tbody>

                            <tr>
                                <td><h4>Activos</h4></td>
                                <td>@ViewBag.Activos</td>
                            </tr>
                            <tr>
                                <td><h4>Inactivos o Inaccesible</h4></td>
                                <td>@ViewBag.Inactivos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui teal button">Mostrar</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header green">
                    <i class="icon user"></i>
                </div>
                <div class="header">
                    <div class="ui header green">@ViewBag.CantUsuarios</div>
                </div>
                <div class="meta">
                    Usuarios
                </div>
                <div class="description">
                    <table class="ui table">
                        <tbody>
                            <tr>
                                <td><h5>Total</h5></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><h5>Con servicio Gratis</h5></td>
                                <td>@ViewBag.Gratis</td>
                                <td>
                                    <a asp-action="FreeService" asp-controller="Usuarios" class="ui eye red icon" data-tooltip="Mostrar"><i class="eye angle right icon"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Sin Clasificador de Pago</h5></td>
                                <td>
                                    @ViewBag.SinClasificador

                                </td>
                                <td>
                                    <a asp-action="SinClasificador" asp-controller="Usuarios" class="ui eye red icon" data-tooltip="Mostrar"><i class="angle right blue icon"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><h4>Activos</h4></td>
                                <td>@ViewBag.UsuaraiosActivos</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><h4>Bloqueados</h4></td>
                                <td>@ViewBag.UsuaraiosBloqueados</td>
                                <td></td>
                            </tr>
                            @*<tr>
                                <td><h4>Conectados</h4></td>
                                <td>@ViewBag.UsuariosConectados</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><h4>Desconectados</h4></td>
                                <td>@ViewBag.UsuariosInactivos</td>
                                <td></td>*@
                            @*</tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <a asp-action="Index" asp-controller="Usuarios" class="ui green button">Mostrar</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="ui two column stackable grid">
    <div class="row">
        <div class="column">
            <h5 class="ui top attached block header">
                <i class="systems icon"></i>
                Recursos del Mikrotik
            </h5>
            <div class="ui bottom blue attached segment">
                <table class="ui table" id="systemResources">

                    <tr>
                        <td><h4>Tiempo Encendido:</h4></td>
                        <td>@Html.DisplayFor(model => model.Uptime)</td>
                    </tr>
                    <tr>
                        <td class="left aligned"><h4>CPU:</h4></td>
                        <td>@Html.DisplayFor(model => model.Cpu)</td>

                    </tr>
                    <tr>
                        <td class="left aligned"><h4>Cantidad de CPU:</h4></td>
                        <td>@Html.DisplayFor(model => model.CpuCount)</td>

                    </tr>
                    <tr>
                        <td class="left aligned"><h4>Frecuencia del CPU:</h4></td>
                        <td>@Html.DisplayFor(model => model.CpuFrequency)</td>

                    </tr>
                    <tr>
                        <td class="left aligned"><h4>Uso del CPU:</h4></td>
                        <td>@Html.DisplayFor(model => model.CpuLoad)%</td>

                    </tr>
                    <tr>
                        <td class="left aligned"><h4>RouterOS:</h4></td>
                        <td>@Html.DisplayFor(model => model.Version)</td>

                    </tr>
                    <tr>
                        <td class="left aligned"><h4>Tipo:</h4></td>
                        <td>@Html.DisplayFor(model => model.BoardName)</td>

                    </tr>
                </table>
            </div>
        </div>
       
    </div>
</div>*@

@section scripts{
    <script src="~/js/Index.js"></script>

}
