﻿@model wzmData.Models.PortalesEtecsa

@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h4 class="ui top attached block header">
    Adicionar Portal VPN
</h4>

<div class="ui bottom blue attached segment">

    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <label asp-for="Interfaz" class="control-label"></label>
            <input asp-for="Interfaz" class="form-control" />
            <span asp-validation-for="Interfaz" class="text-danger"></span>
        </div>

        <div class="field">
            <label asp-for="Route" class="control-label"></label>
            <input asp-for="Route" class="form-control" />
            <span asp-validation-for="Route" class="text-danger"></span>
        </div>


        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>



