﻿@model wzmData.Models.PortalesEtecsa

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PortalesEtecsa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interfaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interfaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DhcpClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DhcpClient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mangle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mangle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Route)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Internet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Internet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
