﻿@model wzmData.Models.PortalesEtecsa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>PortalesEtecsa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Interfaz" class="control-label"></label>
                <input asp-for="Interfaz" class="form-control" />
                <span asp-validation-for="Interfaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DhcpClient" class="control-label"></label>
                <input asp-for="DhcpClient" class="form-control" />
                <span asp-validation-for="DhcpClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nat" class="control-label"></label>
                <input asp-for="Nat" class="form-control" />
                <span asp-validation-for="Nat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mangle" class="control-label"></label>
                <input asp-for="Mangle" class="form-control" />
                <span asp-validation-for="Mangle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route" class="control-label"></label>
                <input asp-for="Route" class="form-control" />
                <span asp-validation-for="Route" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Internet" /> @Html.DisplayNameFor(model => model.Internet)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

