﻿@model wzmData.Models.MikrotikCredentials

@{
    ViewData["Title"] = "Delete";
}


<div class="panel-heading"></div>
<h3>¿Desea eliminar estas credenciales?</h3>
<div class="ui divider"></div>
<div>

    <div class="ui form">

        <table class="ui collapsing table">

            <tbody>
                <tr>
                    <td><h4>Usuario:</h4></td>
                    <td>@Html.DisplayFor(model => model.User)</td>
                </tr>
                <tr>
                    <td class="right aligned"><h4>Contraseña:</h4></td>
                    <td>@Html.DisplayFor(model => model.Password)</td>
                </tr>
                @*<tr>
                    <td class="right aligned"><h4>Ip:</h4></td>
                    <td>@Html.DisplayFor(model => model.Ip)</td>
                </tr>*@
            </tbody>
        </table>

    </div>
    <div class="ui divider"></div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <a asp-action="Index" class="ui right labeled red icon button">
            Cancelar
            <i class="cancel icon"></i>
        </a>

        <button class="ui right blue labeled icon button active">
            Eliminar <i class="check icon"></i>
        </button>
    </form>
</div>
