﻿@model IEnumerable<wzmData.Models.MikrotikCredentials>
@using wzm.ViewComponents

@{
    ViewData["Title"] = "Credenciales_MK";
}
@await Component.InvokeAsync(nameof(Messages))

<h2>Credenciales de Mikrotik</h2>

<p>
    <a asp-action="LoginMikrotik" class="ui small green labeled icon button"> <i class="add user icon"></i> Adicionar</a>
</p>
<form>

    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dispositivo)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dispositivo.GetDispositivo)
                    </td>
                    <td>
                        <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="ui small green edit icon"></i></a>

                        <a data-tooltip="Eliminar" class="ui tiny negative button delete"
                           data-id="@item.Id"
                           data-controller="MikrotikCredentials"
                           data-action="DeleteConfirmed"
                           data-header-message="Eliminar"
                           data-content-message="¿Deseas eliminar esta Credencial?"><i class="small remove icon"></i></a>
                                               
                    </td>
                </tr>
            }
        </tbody>

    </table>
</form>

<div class="ui mini modal" id="deleteModalId">
    <div class="ui header" id="headerContent">

    </div>
    <div class="right aligned content" id="bodyContent">

    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui positive right labeled icon button" id="confirm-delete">
            <i class="checkmark icon"></i>
            Sí
        </div>
    </div>
</div>

