﻿@model wzmData.Models.MikrotikCredentials

@{
    ViewData["Title"] = "Login Mikrotik";

}

@section styles{
    <style type="text/css">
        body {
            /*background-color: #DADADA;*/
        }

            body > .grid {
                height: 80%;
            }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
}


<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="~/images/unnamed.jpg" class="image">
                <div class="content">
                    Login Mikrotik
                </div>
            </h2>
            <form method="post" class="ui large form" id="formId">
                <div class="ui error message"></div>

                <div class="ui stacked segment">
                    <div class="text-danger" asp-validation-summary="All"></div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input asp-for="User" type="text" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input asp-for="Password" type="password" name="password" placeholder="Contraseña">
                        </div>
                    </div>

                    <div class="field">
                        <label asp-for="Dispositivo" class="control-label"></label>
                        <select asp-for="DispositivoId" class="ui selection dropdown" asp-items="ViewBag.Dispositivos"></select>
                    </div>
                    <div class="field">
                        <div class="ui checkbox" data-tooltip="La aplicación usuará este usuario para todas sus funciones.">
                            <input asp-for="Selected" type="checkbox" tabindex="0" class="hidden">
                            <label asp-for="Selected">Mikrotik Principal</label>

                        </div>
                    </div>

                </div>
            </form>
            <button class="ui fluid large blue button" href="#" id="buttonId">Guardar</button>

        </div>
    </div>
    @section Scripts{

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/semantic/dist/semantic.js"></script>
        <script src="~/js/site.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#buttonId').on('click', function () {
                    if ($(this).hasClass('ui fluid large blue'))
                    {
                        $(this).html('Conectando...').toggleClass('disabled loading');
                        $('#formId').submit();
                    }
                    else
                    {
                        $(this).html('Guardar').toggleClass('ui fluid large blue');
                    }
                });
            });
        </script>


    }
</body>
