﻿@model int

@{

    var statusCode = Model;

    var statusmessage = "";

    switch (statusCode)

    {

        case 400:

            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";

            break;

        case 403:

            statusmessage = "Prohibido";

            break;

        case 404:

            statusmessage = "No se ha encontrado la página";

            break;

        case 408:

            statusmessage = "The server timed out waiting for the request";

            break;

        case 500:

            statusmessage = "Internal Server Error - server was unable to finish processing the request";

            break;

        default:

            statusmessage = "That’s odd... Something we didn't expect happened";

            break;

    }

}

<div class="jumbotron">

    <h1>Error @Model</h1>

    <h3>@statusmessage</h3>

</div>

