﻿@model tik4net.Objects.Ip.DhcpServer.DhcpServerLease
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Editar DHCP Lease: @Model.Comment
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Edit">
        <div class="ui form">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="two fields">
                <div class="field">
                    <label>Ip</label>
                    <input asp-for="Address" />
                    <span asp-validation-for="Address" class="field error"></span>
                </div>
                <div class="field">
                    <label>MAC</label>
                    <input asp-for="MacAddress" />
                    <span asp-validation-for="MacAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label asp-for="SrcMacAddress"></label>
                    <input asp-for="SrcMacAddress" />
                    <span asp-validation-for="SrcMacAddress" class="text-danger"></span>
                </div>

                <div class="field">
                    <label>Id del Cliente</label>
                    <input asp-for="ClientId" />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>


            </div>

            <div class="equal width fields">
                <div class="field">
                    <label asp-for="LeaseTime"></label>
                    <input asp-for="LeaseTime" />
                    <span asp-validation-for="LeaseTime" class="text-danger"></span>
                </div>

            </div>

            <div class="fields">


                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="AlwaysBroadcast">
                        <label asp-for="AlwaysBroadcast"></label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="BlockAccess">
                        <label>Bloquear Acceso</label>
                    </div>
                </div>

            </div>

        </div>
        <div class="ui section divider"></div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>

    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.ui.checkbox')
            .checkbox();
    </script>

}



