﻿@model IEnumerable<tik4net.Objects.Ip.DhcpServer.DhcpServerLease>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "DhcpLeases";
}

@await Component.InvokeAsync(nameof(Messages))


@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    DHCP Server Leases

</h2>
<form class="ui form">
    <div class="inline fields">
        <a asp-controller="DhcpServerLeases" asp-action="AllStatic" class="ui small primary button">Hacer todas estáticas</a>
        <button asp-action="SaveToDatabase" class="ui small green labeled icon button">
            <i class="save icon"></i> Hacer Salva
        </button>
        <button asp-action="RestoreToDevice" class="ui small red labeled icon button">
            <i class="restore icon"></i> Restaurar
        </button>
    </div>


    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Address
                </th>
                <th>
                    Mac Address
                </th>
                <th>
                    Active Address
                </th>
                <th>
                    Active Host Name
                </th>
                <th>
                    Estado
                </th>
                <th>Dinámica</th>
                <th>
                    Comentario
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Status == "bound")
                {
                    <tr class="positive">
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.MacAddress
                        </td>
                        <td>
                            @item.ActiveAddress
                        </td>
                        <td>
                            @item.HostName
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Dynamic
                        </td>
                        <td>
                            @item.Comment
                        </td>

                        @if (item.Dynamic)
                        {
                            <td>

                                <a asp-action="MakeStatic" data-tooltip="Detalles" class="ui green button" asp-route-id="@item.Id">Hacer Estática</a>
                            </td>
                        }
                        else
                        {
                            <td>

                                <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="green edit icon"></i></a>
                            </td>
                        }

                    </tr>
                }
                else
                {
                    <tr class="negative">
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.MacAddress
                        </td>
                        <td>
                            @item.ActiveAddress
                        </td>
                        <td>
                            @item.HostName
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Dynamic
                        </td>
                        <td>
                            @item.Comment
                        </td>
                        @if (item.Dynamic)
                        {
                            <td>

                                <a asp-action="MakeStatic" data-tooltip="Detalles" class="ui green button" asp-route-id="@item.Id">Hacer Estática</a>
                            </td>
                        }
                        else
                        {
                            <td>

                                <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="green edit icon"></i></a>
                            </td>
                        }

                    </tr>
                }

            }
        </tbody>

    </table>

</form>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}