﻿@using wzmData.Models
@model IEnumerable<UserDevice>


<table id="example" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>

            <th>
                MAC
            </th>
            <th>
                IP
            </th>
            <th>
                Portal
            </th>
            <th>
                Tipo de Ip
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            if (d.Disabled)
            {
                <tr class="negative">
                    <td>
                        @Html.DisplayFor(modelItem => d.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.Mac)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => d.Ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.PortalDeOrigen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.TipoIp)
                    </td>

                    <td>
                        <a asp-action="Enable" data-tooltip="Desbloquear" asp-route-id="@d.Id"><i class="small positive unlock icon"></i></a>
                        <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@d.Id"><i class="teal location arrow icon"></i></a>
                        <a asp-action="ChangeClientIp" data-tooltip="Cambiar Ip del Dispositivo" asp-route-id="@d.Id"><i class="red laptop icon"></i></a>
                        <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@d.Id"><i class="small blue edit icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@d.Id"><i class="small red recycle icon"></i></a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="positive">
                    <td>
                        @Html.DisplayFor(modelItem => d.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.Mac)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => d.Ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.PortalDeOrigen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => d.TipoIp)
                    </td>
                    <td>
                        <a asp-action="BloquearUsuario" data-tooltip="Bloquear" asp-route-id="@d.Id"><i class="small grey lock icon"></i></a>
                        <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@d.Id"><i class="teal location arrow icon"></i></a>
                        <a asp-action="ChangeClientIp" data-tooltip="Cambiar Ip del Dispositivo" asp-route-id="@d.Id"><i class="red laptop icon"></i></a>
                        <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@d.Id"><i class="small blue edit icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@d.Id"><i class="small red recycle icon"></i></a>

                    </td>
                </tr>
            }

        }
    </tbody>
</table>

