﻿@model wzmData.Models.UserDevice
@if ((bool)ViewBag.Gamer)
{
    <div class="field" id="gamer">
        <div class="ui checkbox">
            <input asp-for="NationalNetwork" type="checkbox" id="checkedGamer" tabindex="0" class="hidden">
            <label>Acceso a la Red Nacional</label>

        </div>
    </div>
}
else
{
    <div class="disabled field" id="gamer">
        <div class="ui checkbox">
            <input asp-for="NationalNetwork" type="checkbox" id="checkedGamer" tabindex="0" class="hidden">
            <label>Acceso a la Red Nacional</label>

        </div>
    </div>
}

<script>
    $('.ui.checkbox')
        .checkbox();
</script>