﻿@model wzmData.Models.UserDevice
@{
    ViewData["Title"] = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h2>Cambiar de Portal a: @Model.Comment</h2>
<div class="ui section divider"></div>
<form asp-action="ChangePortal" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ui error message"></div>

    <input hidden name="id" value="@ViewBag.UserId" />

    <div class="three fields">
        <div class="field">
            <label>Portal Actual</label>
            <input name="PortalOrigen" value="@ViewBag.PortalActual" disabled autocomplete="off" />

        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <label>Cambiar A</label>
            <select name="salida" asp-items="@ViewBag.Salida" class="ui search dropdown"></select>

        </div>
    </div>


    <div class="ui buttons">
        <a asp-action="Clients" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>

@*@section scripts
        {

        <script>
            $(document).ready(function () {
                $('.ui.form')
                    .form({
                        fields: {



                            NewPassword: {
                                identifier: 'NewPassword',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'El campo Nueva Contraseña es obligatorio'

                                    }


                                ]
                            },
                            ConfirmPassword: {
                                identifier: 'ConfirmPassword',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'El campo Confirmación de contraseña es obligatorio'
                                    },
                                    {
                                        type: 'match[NewPassword]',
                                        prompt: 'El campo Contraseña y Confirmar Contraseña deben Coincidir.'
                                    }

                                ]
                            },

                        }
                    })
                    ;
            });
        </script>

    }*@

