﻿@model wzmData.Models.UserDevice
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@await Component.InvokeAsync(nameof(Messages))
<div class="ui header">
    <h2>Adicionar Dispositivo</h2>
</div>



<form asp-action="Create" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ui error message"></div>
    <h4 class="ui horizontal divider header">
        <i class="computer icon"></i>
        Dispositivo
    </h4>

    <div class="two fields">
        <div class="required field">
            <label asp-for="ApplicationUserId"></label>
            <select asp-for="ApplicationUserId" id="userId" class="ui search dropdown" asp-items="ViewBag.Usuarios"><option class="disabled selected">--Seleccionar--</option></select>
            <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="Comment"></label>
            <input asp-for="Comment" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>

    <div class="two fields">
        <div class="disabled required field" id="portalOrigen">
            <label asp-for="PortalDeOrigen"></label>
            <select asp-for="PortalDeOrigen" id="portalId" class="ui selection dropdown" asp-items="ViewBag.Salida"></select>
            <span asp-validation-for="PortalDeOrigen" class="text-danger"></span>
            <div id="CantidadUsuarios"></div>
        </div>
        <div class="required field">
            <label asp-for="DeviceConnectionType"></label>
            <select asp-for="DeviceConnectionType" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<DeviceConecctionType>()"></select>
            <span asp-validation-for="DeviceConnectionType" class="text-danger"></span>
        </div>
    </div>

    <h4 class="ui horizontal divider header">
        <i class="wi-fi icon"></i>
        IP
    </h4>
    <div class="required field">
        <label asp-for="AdminDevice"></label>
        <select asp-for="AdminDeviceId" id="adminDeviceId" asp-items="@ViewBag.Admin" class="ui selection dropdown"><option selected class="disabled">--Seleccionar--</option></select>
        <span asp-validation-for="AdminDeviceId" class="text-danger"></span>
    </div>
    <div class="three fields">
        <div class="required field">
            <label asp-for="Mac"></label>
            <input asp-for="Mac" />
            <span asp-validation-for="Mac" class="text-danger"></span>
        </div>



        <div class="required field">
            <label asp-for="TipoIp"></label>
            <select asp-for="TipoIp" id="tipoIp" asp-items="@Html.GetEnumSelectList<IpTypeEnum>()" class="ui selection dropdown"></select>
            <span asp-validation-for="TipoIp" class="text-danger"></span>
        </div>
        <div class="required field" id="dhcpServer">
            <label asp-for="DhcpServer"></label>
            <select id="dhcpServerField" asp-for="DhcpServer" class="ui selection dropdown" asp-items="@ViewBag.DhcpServer"></select>
            <span asp-validation-for="DhcpServer" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="Ip"></label>
            <input id="ipField" disabled asp-for="Ip" />
            <span asp-validation-for="Ip" class="text-danger"></span>
        </div>

    </div>

    <div class="disabled field" id="gamer">

        <div class="ui checkbox">
            <input asp-for="NationalNetwork" type="checkbox" id="checkedGamer" tabindex="0" class="hidden">
            <label>Acceso a la Red Nacional</label>

        </div>

    </div>

    <div class="disabled field" id="gamerForm">
        <h4 class="ui horizontal divider header">
            <i class="shield icon"></i>
            Acceso a la Red Nacional
        </h4>
        <div class="two fields">
            <div class="field">
                <label asp-for="PublicIp" class="control-label"></label>
                <input asp-for="PublicIp" class="form-control" />
                <span asp-validation-for="PublicIp" class="text-danger"></span>
            </div>

            <div class="field">
                <label asp-for="AddressList" class="control-label"></label>
                <input asp-for="AddressList" class="form-control" />
                <span asp-validation-for="AddressList" class="text-danger"></span>
            </div>
        </div>
    </div>





    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <script>
        $(document).ready(function () {
            $('.ui.checkbox')
                .checkbox();

            $('#tipoIp').change(function () {

                var url = $("#tipoIp option:selected").val();

                if (url == 1) {
                    $('#ipField').removeAttr('disabled');

                    var element = document.getElementById("dhcpServer");
                    element.className = 'required disabled field';


                }
                else {
                    $('#ipField').attr('disabled', 'disabled');

                    var element = document.getElementById("dhcpServer");
                    element.className = 'required field';

                }
            });

            $('#portalId').change(function () {

                var url = "@Url.Action("CantidadUsuarios", "ClientDevices")/" + $("#portalId option:selected").val();
                $('#CantidadUsuarios').load(url);

            });


            $('#checkedGamer').change(function () {
                if (this.checked) {
                    var form = document.getElementById("gamerForm");
                    form.className = 'field';

                }
                else {
                    var form = document.getElementById("gamerForm");
                    form.className = 'disabled field';

                }

            });

            $('#adminDeviceId').change(function () {

                var url = "@Url.Action("GetDhcpServer", "ClientDevices")/" + $("#adminDeviceId option:selected").val();
                $('#dhcpServerField').load(url);

            });

            $('#userId').change(function () {

                $.ajax({
                    url: '/ClientDevices/UserServices',
                    cache: false,
                    data: { id: $("#userId option:selected").val(),service:"internet" },
                    dataType: 'json',
                    success: function (data) {

                        if (data) {
                            var element = document.getElementById("portalOrigen");
                            element.className = 'required field';
                        }
                        else {
                            var element = document.getElementById("portalOrigen");
                            element.className = 'disabled field';
                        }
                    },


                });

                $.ajax({
                    url: '/ClientDevices/UserServices',
                    cache: false,
                    data: { id: $("#userId option:selected").val(), service:"game" },
                    dataType: 'json',
                    success: function (data) {

                        if (data) {
                            var element = document.getElementById("gamer");
                            element.className = 'field';
                        }
                        else {
                            var element = document.getElementById("gamer");
                            element.className = 'disabled field';
                        }
                    },


                 });
            });


            $('.ui.form')
                .form({
                    on: 'blur',
                    fields: {
                        Mac: {
                            Mac: 'MAC',
                            rules: [{
                                type: 'regExp',
                                value: '^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$',
                                prompt: "La MAC introducida no es correcta."
                            }]

                        },


                    }
                })
                ;

        });



    </script>
}
