﻿@model wzmData.Models.UserDevice
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    ¿Está seguro que desea eliminar este dispositivo?

</h2>



<table class="ui collapsing table">
    <tbody>
        <tr>
            <td class="right aligned"><h4>Mac:</h4></td>
            <td>@Html.DisplayFor(model => model.Mac)</td>
        </tr>
        <tr>
            <td class="right aligned"><h4>Ip:</h4></td>
            <td>@Html.DisplayFor(model => model.Ip)</td>

        </tr>
        @*<tr>
            <td class="right aligned"><h4>Cliente:</h4></td>
            <td>@Html.DisplayFor(model => model.UserName)</td>

        </tr>*@
   
    </tbody>
</table>


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Eliminar" class="ui red button" /> |
    <a asp-action="Index" class="ui default button">Regresar</a>
</form>

