﻿@using wzmData.Models
@model IEnumerable<UserDevice>

@using wzm.ViewComponents
@{
    ViewData["Title"] = "DispositivosSinUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}


<h2 class="ui header">
    <i class="ui user icon"></i>
    Dispositivos sin Usuario
</h2>

<div class="ui form">
    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>

                <th>
                    MAC
                </th>
                <th>
                    IP
                </th>
                <th>
                    Portal
                </th>
                <th>
                    Tipo de Ip
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {

                if (d.Disabled)
                {
                    <tr class="negative">
                        <td>
                            @Html.DisplayFor(modelItem => d.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Mac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.TipoIp)
                        </td>

                        <td>
                           
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@d.Id"><i class="small blue edit icon"></i></a>
                           
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="positive">
                        <td>
                            @Html.DisplayFor(modelItem => d.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Mac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.TipoIp)
                        </td>

                        <td>
                           
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@d.Id"><i class="small blue edit icon"></i></a>
                           
                        </td>
                    </tr>
                }




            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
   
}
