﻿@model wzmData.Models.UserDevice
@using wzm.ViewComponents
@using wzmData.Enum
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Editar Dispositivo</h2>


<form asp-action="Edit" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" id="userId" asp-for="Id" />
    <input type="hidden" id="userId" asp-for="Mac" />
    <input type="hidden" id="userId" asp-for="DhcpServer" />
    <input type="hidden" id="userId" asp-for="PortalDeOrigen" />
    <input type="hidden" id="userId" asp-for="HasInternet" />
    <input type="hidden" id="userId" asp-for="Disabled" />
    <input type="hidden" id="userId" asp-for="DeviceConnectionType" />
    <input type="hidden" id="userId" asp-for="TipoIp" />
    <input type="hidden" id="userId" asp-for="Ip" />
    <h4 class="ui horizontal divider header">
        <i class="computer icon"></i>
        Editar Dispositivo: @Model.Comment
    </h4>
    <div class="three fields">
        <div class="disabled field">
            <label asp-for="Mac"></label>
            <input asp-for="Mac" />

        </div>
        <div class="required field">
            <label>Nombre</label>
            <input asp-for="Comment" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="required field">
            <label>Usuario</label>
            <select asp-for="ApplicationUserId" class="ui search dropdown" asp-items="ViewBag.Usuarios"></select>
            <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
        </div>

    </div>

    <div class="three fields">

        <div class="disabled field">
            <label asp-for="DeviceConnectionType"></label>
            <input asp-for="DeviceConnectionType" />
            <span asp-validation-for=" DeviceConnectionType" class="text-danger"></span>
        </div>


        <div class="disabled field">
            <label asp-for="TipoIp"></label>
            <input asp-for="TipoIp" />
            <span asp-validation-for="TipoIp" class="text-danger"></span>
        </div>
        <div class="disabled field">
            <label asp-for="Ip"></label>
            <input asp-for="Ip" />
            <span asp-validation-for="Ip" class="text-danger"></span>
        </div>

    </div>


    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>

