﻿@model wzm.ViewModels.ImportDeviceViewModel
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Importar Dispositivo desde el Mikrotik</h2>


<form asp-action="ImportFromMikrotik" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="two fields">
        <div class="field">
            <label asp-for="UserId"></label>
            <select asp-for="UserId" class="ui search dropdown" asp-items="ViewBag.Usuarios"></select>
        </div>

        <div class="field">
            <label asp-for="Mac"></label>
            <input asp-for="Mac" />
            <span asp-validation-for="Mac" class="text-danger"></span>
        </div>
    
    </div>
    <div class="two fields">
        <div class="required field">
            <label asp-for="DeviceConecctionType"></label>
            <select asp-for="DeviceConecctionType" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<DeviceConecctionType>()"></select>
            <span asp-validation-for="DeviceConecctionType" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="AdminDeviceId"></label>
            <select asp-for="AdminDeviceId" class="ui search dropdown" asp-items="ViewBag.AdminDevice"></select>
        </div>

    </div>
    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>


@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $(document).ready(function () {


                $('#tipoIp').change(function () {

                    var url = "@Url.Action("ShowIpField", "Clients")/" + $("#tipoIp option:selected").val();
                    $('#ip_Id').load(url);

                    });
                });

        </script>
    }
