﻿@using wzm.ViewComponents
@using wzmData.Models
@model wzm.ViewModels.ImportMultipleDeviceViewModel
@{
    ViewData["Title"] = "Importar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Importar Dispositivos de los Usuarios
</h2>



<form asp-action="ImportFromUbiquiti" class="ui form">
    <div class="field">
        <label>Dispositivo:</label>
        <select asp-for="DispositivoId" asp-items="ViewBag.Dispositivos" class="ui search dropdown"></select>
    </div>
    <div class="field">
        <label>Dispositivo Administrador:</label>
        <select asp-for="AdminDeviceId" asp-items="ViewBag.AdminDevice" class="ui search dropdown"><option disabled selected>--Seleccionar--</option></select>
    </div>

    @*<div class="ui checkbox">
        <input asp-for="Gaiming" type="checkbox" tabindex="0" class="hidden">
        <label>Acceso a la Red Nacional</label>

    </div>*@

    <button type="submit" class="ui small primary labeled icon button">
        <i class="download circle icon"></i> Importar
    </button>

</form>
@*@section Scripts{

    <script>
        $(document).ready(function () {
            $('.ui.checkbox')
                .checkbox();

        });



    </script>

 }*@
