﻿@using wzmData.Models
@model IEnumerable<UserDevice>

@using wzm.ViewComponents
@{
    ViewData["Title"] = "Dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}


<h2 class="ui header">
    <i class="ui user icon"></i>
    Dispositivos de los Usuarios
</h2>
<form>
    @if (TempData["errorCredenciales"] != null)
    {
        <button disabled asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    }
    else
    {
        if (ViewBag.QuantityExceded != null)
        {
            if ((bool)ViewBag.QuantityExceded)
            {
                <div class="fields">
                    <button asp-action="Create" disabled class="ui small green labeled icon button">
                        <i class="add circle icon"></i> Adicionar
                    </button>
                    <button asp-action="ImportFromUbiquiti" disabled class="ui small primary labeled icon button">
                        <i class="download circle icon"></i> Importar desde Ubiquiti
                    </button>
                </div>
            }
            else
            {
                <div class="fields">
                    <button asp-action="Create" class="ui small green labeled icon button">
                        <i class="add circle icon"></i> Adicionar
                    </button>
                    <button asp-action="Importar" class="ui small primary labeled icon button">
                        <i class="download circle icon"></i> Importar
                    </button>
                </div>
            }
        }
        else
        {
            <div class="three fields">
                <button asp-action="Create" class="ui small green labeled icon button">
                    <i class="add circle icon"></i> Adicionar
                </button>
                <button asp-action="ImportFromUbiquiti" class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar Ubiquiti
                </button>
                <button asp-action="ImportFromMikrotik" class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar Mikrotik (MAC)
                </button>
                <button asp-action="ImportFromMikrotikByIp" class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar Mikrotik (IP)
                </button>
            </div>
        }

    }
</form>
<h2 class="ui header">
    Dipositivos por Usuario
</h2>
<div class="ui section divider"></div>
<div class="ui form">
    <div class="three fields">
        <div class="field">
            <select id="usuario_Id" class="ui search dropdown" asp-items="@ViewBag.Usuarios"></select>
        </div>
        <div class="field">
            <button class="ui small red button" id="mostrarId">Mostrar</button>
        </div>

    </div>
</div>
<div class="ui section divider"></div>
<div id="devices_Table"></div>
<div class="ui section divider"></div>

<h2 class="ui header">
    Dispositivos Habilitados
</h2>
<div class="ui form">
    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>

                <th>
                    MAC
                </th>
                <th>
                    IP
                </th>
                <th>
                    Portal
                </th>
                <th>
                    Tipo de Ip
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {

                if (d.Disabled)
                {
                    <tr class="negative">
                        <td>
                            @Html.DisplayFor(modelItem => d.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Mac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.TipoIp)
                        </td>

                        <td>
                            <a asp-action="Enable" data-tooltip="Desbloquear" asp-route-id="@d.Id"><i class="small positive unlock icon"></i></a>
                            <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@d.Id"><i class="teal location arrow icon"></i></a>
                            <a asp-action="ChangeClientIp" data-tooltip="Cambiar Ip del Dispositivo" asp-route-id="@d.Id"><i class="red laptop icon"></i></a>
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@d.Id"><i class="small blue edit icon"></i></a>
                            <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@d.Id"><i class="small red recycle icon"></i></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="positive">
                        <td>
                            @Html.DisplayFor(modelItem => d.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Mac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.TipoIp)
                        </td>

                        <td>
                            @if (d.Disabled)
                            {
                                <a asp-action="Habilitar" data-tooltip="Habilitar" asp-route-id="@d.Id"><i class="small green unlock icon"></i></a>
                            }
                            else
                            {
                                <a asp-action="Deshabilitar" data-tooltip="Deshabilitar" asp-route-id="@d.Id"><i class="small grey lock icon"></i></a>
                            }
                            <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@d.Id"><i class="teal location arrow icon"></i></a>
                            <a asp-action="ChangeClientIp" data-tooltip="Cambiar Ip del Dispositivo" asp-route-id="@d.Id"><i class="red laptop icon"></i></a>
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@d.Id"><i class="small blue edit icon"></i></a>
                            <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@d.Id"><i class="small red recycle icon"></i></a>
                        </td>
                    </tr>
                }




            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>

        $(document).ready(function () {

            $('#example').DataTable();

            $('#mostrarId').click(function () {
                var i = $("#usuario_Id").val();
                $(this).html('Cargando...').toggleClass('disabled loading');

                $.ajax({

                    url: 'ClientDevices/GetDevicesByUser',
                    cache: false,
                    dataType: 'html',
                    data: { 'userId': i },
                    success: function (html) {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                        $('#devices_Table').html(html);
                    },
                    error: function () {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                    },
                });
            });
            $('#sincId').click(function () {
                var i = $("#dispositivo_Id").val();
                $(this).html('Sincronizando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'Usuarios/SincWithDevice',
                    cache: false,
                    dataType: 'html',
                    data: { 'dispositivoId': i },
                    success: function (html) {
                        $('#sincId').html('Sincronizar').removeClass().addClass('ui small primary button');
                        $('#users_Table').html(html);
                    },
                    error: function () {
                        $('#sincId').html('Sincronizar').removeClass().addClass('ui small primary button');
                    },
                });
            });


        });




    </script>

}
