﻿@model wzmCore.Data.Mikrotik.ConfigMikrotikModel
@{
    ViewData["Title"] = "ConfigMikrotik";
}
<div class="ui error message"><i class="close icon"></i>
    <div class="header">
        <i class="warning icon"></i>
        Wi-Fi Zone Manager aplicará una configuración básica a la Wireless del Dispositivo. Utilizando datos predeterminados.
    </div>

</div>
<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Configuración básica para WIFI_ETECSA
</h4>



<div class="ui bottom blue attached segment">
    <form asp-action="ConfigMikrotik" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h4 class="ui horizontal divider header">
            <i class="internet icon"></i>
            DHCP
        </h4>
        <div class="field required">
            <label asp-for="RangoInicialDhcp"></label>
            <input asp-for="RangoInicialDhcp" value="50" />
            <span asp-validation-for="RangoInicialDhcp" class="text-danger"></span>

        </div>

        <div class="field required">
            <label asp-for="RangoFinalDhcp"></label>
            <input asp-for="RangoFinalDhcp" value="200" />
            <span asp-validation-for="RangoFinalDhcp" class="text-danger"></span>

        </div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>



