﻿@model IEnumerable<wzmCore.Data.Mikrotik.WirelessInterfaceModel>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "WirelessList";
}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Wireless
</h2>
<form>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    Wlan
                </th>
                <th>
                    SSID
                </th>
                <th>
                    Frecuencia
                </th>
                <th>
                    Modo
                </th>
                <th>
                    Mac
                </th>
                <th>
                    Master Interface
                </th>
                <th>
                    Deshabilitada
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Ssid
                    </td>
                    <td>
                        @item.FrequencyMode
                    </td>
                    <td>
                        @item.Mode
                    </td>
                    <td>
                        @item.MacAddress
                    </td>
                    <td>
                        @item.MasterInterface
                    </td>
                    <td>
                        @item.Disabled
                    </td>
                    @if (item.Disabled)
                    {
                        <td>
                            <a asp-action="EnableWlan" data-tooltip="Habilitar" asp-route-id="@item.Name"><i class="green check icon"></i></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="DesableWlan" data-tooltip="Deshabilitar" asp-route-id="@item.Name"><i class="red ban icon"></i></a>
                        </td>
                    }

                </tr>
            }
        </tbody>

    </table>
</form>

