﻿@model wzmData.Models.PortalException
@using wzmData.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Excepción
</h4>
<div class="ui bottom blue attached segment">
    <form asp-action="Create">
        <div class="ui form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="required field">
                <label asp-for="Portal" class="control-label"></label>
                <select asp-for="Portal" asp-items="@ViewBag.Portal" class="ui search dropdown"><option selected class="disabled">--Seleccionar--</option></select>
                <span asp-validation-for="Portal" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="ServiceType" class="control-label"></label>
                <select asp-for="ServiceType" class="ui dropdown" asp-items="@Html.GetEnumSelectList<ServiceType>()"></select>
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="ui section divider"></div>
        </div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>
    </form>
</div>



