﻿@model IEnumerable<wzmData.Models.PortalException>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}
<h2 class="ui header">
    Excepciones
</h2>

<a asp-action="Create" class="ui small primary labeled icon button">
    <i class="add circle icon"></i> Adicionar
</a>
<form class="ui form">
    <table id="example" class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Portal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceType)
                    </td>
                    <td>
                        <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="blue edit icon"></i></a>
                        <a asp-action="DisableOrEnable" data-tooltip="Habilitar" asp-route-id="@item.Id"><i class="green checkmark icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red delete icon"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}