﻿@model wzmData.Models.DeviceToNationalNetwork
@{
    ViewData["Title"] = "Create ";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Acceso 
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Create">
        <div class="ui form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="required field">
                <label asp-for="PublicIp"></label>
                <input asp-for="PublicIp" />
                <span asp-validation-for="PublicIp" class="field error"></span>
            </div>

          

            <div class="required field">
                <label asp-for="UserDeviceId"></label>
                <select asp-for="UserDeviceId" asp-items="@ViewBag.Dispositivos" class="ui search dropdown"><option selected class="disabled">--Seleccionar--</option></select>
                <span asp-validation-for="UserDeviceId" class="text-danger"></span>
            </div>

          

        </div>
        <div class="ui section divider"></div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
