﻿@model IEnumerable<wzmData.Models.DeviceToNationalNetwork>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "TinoRed";
}

@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    Acceso a Tino Red
</h2>
<form>
    @if (TempData["errorCredenciales"] != null)
    {

        <button disabled asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    }
    else
    {
        <button asp-action="Create" class="ui small green labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>

    }

</form>

<div class="ui section divider"></div>
<form class="ui form">

    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Dispositivo
                </th>
                <th>
                    Ip Privada
                </th>
                <th>
                    Ip Pública
                </th>
           
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDevice.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDevice.Ip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicIp)
                </td>


                <td>
                    <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="blue edit icon"></i></a>
                    <a asp-action="DisableOrEnable" data-tooltip="Habilitar" asp-route-id="@item.Id"><i class="green checkmark icon"></i></a>
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red delete icon"></i></a>
                </td>
            </tr>
                

            }
        </tbody>

    </table>
</form>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}