﻿@model wzmData.Models.HostsServices

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Super Usuario
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Create" class="ui form">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="ui error message"></div>
        <div class="field">
            <div class="required field">
                <label asp-for="DeviceId"></label>
                <select asp-for="DeviceId" class="ui search dropdown" asp-items="ViewBag.Dispositivos"></select>
                <span asp-validation-for="DeviceId" class="text-danger"></span>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Vip">
                <label asp-for="Vip"></label>
            </div>

        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Balanceo">
                <label asp-for="Balanceo"></label>
            </div>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Limit">
                <label asp-for="Limit"></label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="NoPortal">
                <label asp-for="NoPortal"></label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Vpn">
                <label asp-for="Vpn"></label>
            </div>
        </div>
        @*<div class="field">

            <label asp-for="VpnServerId"></label>
            <select asp-for="VpnServerId" class="ui search dropdown" asp-items="ViewBag.Vpn"></select>
            <span asp-validation-for="VpnServerId" class="text-danger"></span>

        </div>*@
        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>
    </form>
</div>

@section scripts{
    <script>
        $('.ui.checkbox')
            .checkbox();
    </script>
}

