﻿@*@model wzmData.Models.HostsServices

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViPHostsServices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationServices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationServices.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
