﻿@model wzmData.Models.HostsServices

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Editar Súper Usuario: @Model.Device.Comment
</h4>
<div class="ui bottom blue attached segment">
    <form asp-action="Edit" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ApplicationServicesId" />
        <input type="hidden" asp-for="DeviceId" />
        <input type="hidden" asp-for="Disabled" />
        <input type="hidden" asp-for="PortalActual" />
        <input type="hidden" asp-for="HasInternet" />

        <div class="ui error message"></div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Vip">
                <label asp-for="Vip"></label>
            </div>

        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Balanceo">
                <label asp-for="Balanceo"></label>
            </div>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Limit">
                <label asp-for="Limit"></label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="NoPortal">
                <label asp-for="NoPortal"></label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="Vpn">
                <label asp-for="Vpn"></label>
            </div>
        </div>
        @*<div class="field">

            <label asp-for="VpnServerId"></label>
            <select asp-for="VpnServerId" class="ui search dropdown" asp-items="ViewBag.Vpn"></select>
            <span asp-validation-for="VpnServerId" class="text-danger"></span>

        </div>*@
        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>
    </form>

</div>

@section scripts{
    <script>
        $('.ui.checkbox')
            .checkbox();
    </script>
}