﻿@model IEnumerable<wzmData.Models.HostsServices>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Super-Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}
@await Component.InvokeAsync(nameof(Messages))
<h2 class="ui header">
    Súper Usuarios
</h2>

<form>
    @if (TempData["errorCredenciales"] != null)
    {
        <button disabled asp-action="Create" class="ui small primary labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    }
    else
    {
        <button asp-action="Create" class="ui small primary labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>

    }
</form>
<h3 class="ui header">
    Usuarios con Conexión Directa
</h3>
<div class="ui section divider"></div>
<form class="ui form">
    <table id="direct" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Device.Ip)
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device.PortalDeOrigen)
                </th>
                <th>
                    Portal Actual
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balanceo)
                </th>
                <th>
                    Internet
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disabled)
                </th>
                <th>
                    <label>Simple Queue</label>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody id="tableId">
            @foreach (var item in Model.Where(c => !c.Vpn))
            {
                if (!item.Disabled)
                {
                    <tr class="positive">
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PortalActual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balanceo)
                        </td>
                        @if (item.HasInternet)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Limit)
                        </td>

                        <td>

                            <div class="equals fields">
                                <div class="field">
                                    <a asp-action="Edit" data-tooltip="Editar" class="ui mini positive button" asp-route-id="@item.Id"><i class="small edit icon"></i></a>
                                </div>
                                <div class="field">
                                    <a data-tooltip="Bloquear" class="ui mini orange button disable"
                                       data-id="@item.Id"
                                       data-controller="ViPHosts"
                                       data-action="disable"
                                       data-header-message="Deshabilitar"
                                       data-content-message="¿Deseas deshabilitar este usuario?"><i class="small unlock icon"></i></a>
                                </div>
                                <div class="field">
                                    <a data-tooltip="Eliminar" class="ui mini negative button delete"
                                       data-id="@item.Id"
                                       data-controller="ViPHosts"
                                       data-action="delete"
                                       data-header-message="Eliminar"
                                       data-content-message="¿Deseas eliminar este usuario?"><i class="center aligned small remove icon"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="negative">
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PortalActual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balanceo)
                        </td>
                        @if (item.HasInternet)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Limit)
                        </td>
                        <td>

                            <a asp-action="Enable" data-tooltip="Habilitar" class="ui mini positive button" asp-route-id="@item.Id"><i class="small unlock icon"></i></a>

                        </td>

                    </tr>
                }


            }
        </tbody>

    </table>

</form>
<div class="ui section divider"></div>
<h3 class="ui header">
    Usuarios con Conexión VPN Persistente
</h3>
<form class="ui form">
    <table id="vpn" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Device.Ip)
                </th>
                <th>
                    Nombre
                </th>

                <th>
                    Internet
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disabled)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Vpn)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.VpnServerId)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody id="tableId">
            @foreach (var item in Model.Where(c => c.Vpn))
            {
                if (!item.Disabled)
                {
                    <tr class="positive">
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Comment)
                        </td>


                        @if (item.HasInternet)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Vpn)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.VpnServer.Host)
                        </td>*@
                        <td>

                            <div class="equals fields">
                                <div class="field">
                                    <a asp-action="Edit" data-tooltip="Editar" class="ui mini positive button" asp-route-id="@item.Id"><i class="small edit icon"></i></a>
                                </div>
                                <div class="field">
                                    <a data-tooltip="Bloquear" class="ui mini orange button disable"
                                       data-id="@item.Id"
                                       data-controller="ViPHosts"
                                       data-action="disable"
                                       data-header-message="Deshabilitar"
                                       data-content-message="¿Deseas deshabilitar este usuario?"><i class="small unlock icon"></i></a>
                                </div>
                                <div class="field">
                                    <a data-tooltip="Eliminar" class="ui mini negative button delete"
                                       data-id="@item.Id"
                                       data-controller="ViPHosts"
                                       data-action="delete"
                                       data-header-message="Eliminar"
                                       data-content-message="¿Deseas eliminar este usuario?"><i class="center aligned small remove icon"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="negative">
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.PortalDeOrigen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PortalActual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balanceo)
                        </td>
                        @if (item.HasInternet)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>

                        <td>

                            <a asp-action="Enable" data-tooltip="Habilitar" class="ui mini positive button" asp-route-id="@item.Id"><i class="small unlock icon"></i></a>

                        </td>

                    </tr>
                }


            }
        </tbody>

    </table>
</form>

<div class="ui mini modal" id="deleteModalId">
    <div class="ui header" id="headerContent">

    </div>
    <div class="right aligned content" id="bodyContent">

    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui positive right labeled icon button" id="confirm-delete">
            <i class="checkmark icon"></i>
            Sí
        </div>
    </div>
</div>

<div class="ui mini modal" id="disableModalId">
    <div class="ui header" id="headerContent_disable">

    </div>
    <div class="right aligned content" id="bodyContent_disable">

    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui positive right labeled icon button" id="confirm-disable">
            <i class="checkmark icon"></i>
            Sí
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#direct').DataTable();
            $('#vpn').DataTable({
                lengthMenu: [[50, 100, -1], [50, 100, "Todos"]],
            });
        });
    </script>
}