﻿@using wzmData.Models
@model IEnumerable<Dispositivo>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Dispositivos Tp-Link
</h2>
<form class="ui form">
    @if (TempData["errorCredenciales"] != null)
    {
        <button disabled asp-controller="UbiquitiDiscovery" asp-action="Index" class="ui small primary labeled icon button">
            <i class="download circle icon"></i> Importar
        </button>
    }
    else
    {

        <button asp-controller="UbiquitiDiscovery" asp-action="Index" class="ui small primary labeled icon button">
            <i class="download circle icon"></i> Importar
        </button>

    }
</form>

<h4 class="ui horizontal divider header">
    Estaciones
</h4>
<form class="ui form">
    <div class="fields">
        <button asp-action="CreateStation" class="ui small red labeled icon button">
            <i class="add circle icon"></i> Adicionar Estación
        </button>
    </div>

</form>
<form class="ui form">
    <table id="stationTable" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hostname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WirelessMode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WirelessSecurity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.Station != null)
            {
                List<Dispositivo> stationDevices = (List<Dispositivo>)ViewBag.Station;

                if (stationDevices.Count > 0)
                {
                    foreach (var item in stationDevices)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SSID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hostname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Platform)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Ubicacion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.WirelessMode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WirelessSecurity)
                            </td>
                            <td>
                                <a asp-action="ChangeToAp" data-tooltip="Cambiar a AP" asp-route-id="@item.Id"><i class="small violet wifi icon"></i></a>
                                <a asp-action="EditStation" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                                <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>

                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</form>

<h4 class="ui horizontal divider header">
    Punto de Acceso
</h4>
<form class="ui form">
    <div class="fields">
        <button asp-action="CreateAp" class="ui small red labeled icon button">
            <i class="add circle icon"></i> Adicionar Punto de Acceso
        </button>
    </div>
</form>
<span></span>
<form class="ui form">
    <table id="apTable" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hostname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WirelessMode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WirelessSecurity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.Station != null)
            {
                List<Dispositivo> ap = (List<Dispositivo>)ViewBag.Ap;

                if (ap.Count > 0)
                {
                    foreach (var item in ap)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SSID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hostname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Platform)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Ubicacion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.WirelessMode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WirelessSecurity)
                            </td>
                            <td>
                                <a asp-action="ChangeToStation" data-tooltip="Cambiar a Estación" asp-route-id="@item.Id"><i class="small green mobile alternate icon"></i></a>
                                <a asp-action="EditAp" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                                <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</form>
@*<h4 class="ui horizontal divider header">
        Punto de Acceso Repetidor
    </h4>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hostname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WirelessMode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WirelessSecurity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.Station != null)
            {
                List<Dispositivo> apRepeater = (List<Dispositivo>)ViewBag.ApRepeater;

                if (apRepeater.Count > 0)
                {
                    foreach (var item in apRepeater)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SSID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hostname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Platform)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Ubicacion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.WirelessMode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WirelessSecurity)
                            </td>
                            <td>

                                <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small blue edit icon"></i></a>
                                <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>
                                <a asp-action="ChangeToAp" data-tooltip="Cambiar a AP" asp-route-id="@item.Id"><i class="small violet wifi icon"></i></a>
                                <a asp-action="ChangeToStation" data-tooltip="Cambiar a Estación" asp-route-id="@item.Id"><i class="small green mobile alternate icon"></i></a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>*@
@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>

        $(document).ready(function () {

            $('#stationTable').DataTable();
            $('#apTable').DataTable();
        });
    </script>
}
