﻿<div class="ui pointing dropdown link item">
    IP<i class="dropdown icon"></i>
    <div class="menu">

        <a asp-controller="IpAddress" asp-action="Index" class="item">Addresses</a>
        <a asp-area="" asp-controller="DhcpClient" asp-action="Index" class="item">DHCP Client</a>
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">DHCP Server</span>
            <div class="menu">
                <a asp-controller="DhcpServerLeases" asp-action="Index" class="item">DHCP Server Leases</a>
                <a asp-controller="DhcpNetwork" asp-action="Index" class="item">DHCP Server Network</a>
            </div>
        </div>
        <div class="item">
            <i class="dropdown icon"></i>Firewall
            <div class="menu">

                <a asp-controller="FirewallAddress" asp-action="Index" class="item">Address List</a>

            </div>
        </div>

    </div>
</div>

<div class="ui pointing dropdown link item">
    Pagos<i class="dropdown icon"></i>
    <div class="menu">
        <a asp-controller="ClasificadorPagoes" asp-action="Index" class="item">Clasificador de Pagos</a>
        <a asp-area="" asp-controller="Pagos" asp-action="Index" class="item">Pagos</a>
        <a asp-area="" asp-controller="FormasPagos" asp-action="Index" class="item">Formas de Pagos</a>
    </div>
</div>

<div class="ui pointing dropdown link item">
    Wireless<i class="dropdown icon"></i>
    <div class="menu">
        <a asp-controller="Wireless" asp-action="Index" class="item"><i class="wi-fi icon"></i>Wireless</a>
        <a asp-area="" asp-controller="RegistrationTable" asp-action="Index" class="item"><i class="signal icon"></i>Registration Table</a>
        <a asp-controller="ConfConexPriority" asp-action="Index" class="item">QoS</a>
        <a asp-controller="PortalNauta" asp-action="Index" class="item">Portales</a>
        <div class="ui section divider"></div>
        <a asp-controller="SignalMonitor" asp-action="Index" class="item">Wireless Monitor</a>
    </div>
</div>

<div class="ui pointing dropdown link item">
    Servicios de WZM<i class="dropdown icon"></i>
    <div class="menu">
        <a asp-controller="Services" asp-action="Index" class="item">Servicios</a>
        <a asp-controller="ViPHosts" asp-action="Index" class="item">Usuarios Premium</a>
        <div class="ui section divider"></div>
        <a asp-controller="PortalExceptions" asp-action="Index" class="item">Excepciones</a>
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">VPN</span>
            <div class="menu">
                <a class="item" asp-controller="VpnInternetInstance" asp-action="Index">
                    <i class="ui icon wifi"></i>VPN Internet
                </a>
                <a class="item" asp-controller="VpnNacionalInstance" asp-action="Index">
                    <i class="ui icon wifi"></i>VPN Nacional
                </a>
                <a class="item" asp-controller="CuentaNauta" asp-action="Index">
                    <i class="ui small icon user"></i>Cuentas Nauta
                </a>
            </div>
        </div>

    </div>
</div>

<div class="ui pointing dropdown link item">
    Administrar Usuarios<i class="dropdown icon"></i>
    <div class="menu">
        <a asp-controller="Administrador" asp-action="Index" class="item">Administradores</a>
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Usuarios</span>
            <div class="menu">
                <a asp-controller="Usuarios" asp-action="Index" class="item">Habilitados</a>
                <a asp-controller="Usuarios" asp-action="Disabled" class="item">Deshabilitados</a>
                <a asp-controller="Usuarios" asp-action="FreeService" class="item">Servicio Gratis</a>
                <a asp-controller="Usuarios" asp-action="SinClasificador" class="item">Sin Clasificador de Pago</a>
                <a asp-controller="Usuarios" asp-action="Morosos" class="item">Morosos</a>
            </div>
        </div>
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Dispositvos</span>
            <div class="menu">
                <a asp-controller="ClientDevices" asp-action="Index" class="item">Habilitados</a>
                <a asp-controller="ClientDevices" asp-action="Disabled" class="item">Deshabilitados</a>
                <a asp-controller="ClientDevices" asp-action="DispositivosSinUsuario" class="item">Sin Usuario</a>
            </div>
        </div>
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Mikrotik HotSpot</span>
            <div class="menu">
                <a asp-controller="HotSpot" asp-action="Index" class="item">Usuarios</a>
                <a asp-controller="HotSpot" asp-action="Active" class="item">Usuarios Conectados</a>
                <a asp-controller="Usuarios" asp-action="FreeService" class="item">Servicio Gratis</a>
                <a asp-controller="Usuarios" asp-action="SinClasificador" class="item">Sin Clasificador de Pago</a>
                <a asp-controller="Usuarios" asp-action="Morosos" class="item">Morosos</a>
            </div>
        </div>
    </div>
</div>

<div class="ui pointing dropdown link item">
    Administrar Dispositivos   <i class="dropdown icon"> </i>
    <div class="menu">
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Mikrotik</span>
            <div class="menu">
                <a class="item" asp-controller="DispositivosMikrotik" asp-action="IndexStation">
                    <i class="ui icon computer"></i>Estaciones
                </a>
                <a class="item" asp-controller="DispositivosMikrotik" asp-action="IndexAp">
                    <i class="ui icon computer"></i>Ap
                </a>
                <a class="item" asp-controller="DispositivosMikrotik" asp-action="IndexAdmin">
                    <i class="ui icon computer"></i>Administradores
                </a>
            </div>
        </div>

        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Ubiquiti</span>
            <div class="menu">
                <a class="item" asp-controller="DispositivosUbiquiti" asp-action="IndexStation">
                    <i class="ui icon computer"></i>Estaciones
                </a>
                <a class="item" asp-controller="DispositivosUbiquiti" asp-action="IndexAp">
                    <i class="ui icon computer"></i>Ap
                </a>

            </div>
        </div>

        <a asp-controller="DispositivosTpLink" asp-action="Index" class="item">TpLink</a>
        <a asp-controller="DispositivosOtros" asp-action="Index" class="item">Otros</a>
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Credenciales</span>
            <div class="menu">
                <a class="item" asp-controller="MikrotikCredentials" asp-action="Index">
                    <i class="ui icon users"></i>Credenciales de Mikrotik
                </a>
                <a class="item" asp-controller="UbiquitiCredentials" asp-action="Index">
                    <i class="ui icon users"></i>Credenciales de Ubiquiti
                </a>
            </div>
        </div>

    </div>

</div>

<div class="ui mini modal" id="configModal">
    <div class="ui centered aligned header">
        <h3 class="ui header">
            Configuración
        </h3>
    </div>
    <div class="right aligned content">

        <div class="ui form">

            <div class="field">
                <a asp-action="ConfigMikrotik" asp-controller="Wireless"><i class="ui icon primary labeled configure"></i>Wireless</a>
            </div>
            <div class="field">
                <a asp-action="Index" asp-controller="ConfConexPriority"><i class="ui icon primary labeled setting"></i>Calidad de Servicio (QOS)</a>
            </div>
            <div class="field">
                <a asp-action="Index" asp-controller="License"><i class="ui icon primary labeled key"></i>Licencia</a>
            </div>
        </div>

    </div>
    <div class="actions">
        <a class="ui small negative button">
            <i class="remove icon"></i>
            Cancelar
        </a>

    </div>
</div>

<div class="ui mini modal" id="licenseModal">
    <div class="ui centered aligned header">
        <h3 class="ui header">
            Configuración
        </h3>
    </div>
    <div class="right aligned content">

        <div class="ui form">

            <div class="field">
                <a asp-action="Index" asp-controller="License"><i class="ui icon primary labeled key"></i>Licencia</a>
            </div>

        </div>

    </div>
    <div class="actions">
        <a class="ui small negative button">
            <i class="remove icon"></i>
            Cancelar
        </a>

    </div>
</div>