﻿@model IEnumerable<UbiquitiCore.Discovery.Device>

@{
    Layout = null;
}

@foreach (var item in Model)
{

    <tr class="positive">
        <td>
            @Html.DisplayFor(modelItem => item.Hostname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongPlatform)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firmware)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.SSID)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.FormatedMacAddress)
        </td>

        <td>

            @Html.DisplayFor(modelItem => item.Uptime)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.WirelessModeDescription)
        </td>
        <td>

            <a asp-action="Import" data-tooltip="Importar" asp-route-id="@item.FormatedMacAddress"><i class="large blue download icon"></i></a>


        </td>

    </tr>



}
