﻿@model IEnumerable<UbiquitiCore.Discovery.Device>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>

<h2 class="ui header">
    Ubiquiti Discovery
</h2>
<table class="ui stackable celled table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firmware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSID)
            </th>
            <th>
                Ip
            </th>
            <th>
                Mac
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uptime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WirelessMode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="devicesId"></tbody>
</table>

@section scripts{

    <script src="~/js/Devices.js"></script>

}