﻿@model wzmData.Models.UbiquitiCredentials

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        body {
            /*background-color: #DADADA;*/
        }

            body > .grid {
                height: 80%;
            }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
}


<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="~/images/unnamed.jpg" class="image">
            <div class="content">
                Login Ubiquiti
            </div>
        </h2>
        <form method="post" class="ui large form" id="formId">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DispositivoId" />
            <div class="ui stacked segment">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="User" type="text" placeholder="Usuario">
                    </div>
                    <span class="text-danger" asp-validation-for="User"></span>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Password" type="password" name="password" placeholder="Contraseña">
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="field">
                    <label asp-for="Puerto"></label>
                    <input asp-for="Puerto" value="22" name="puerto" placeholder="Puerto">
                    <span class="text-danger" asp-validation-for="Puerto"></span>
                </div>


            </div>
        </form>
        <button class="ui fluid large blue button" href="#" id="buttonId">Guardar</button>

    </div>
</div>
@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/semantic/dist/semantic.js"></script>
    <script src="~/js/site.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#buttonId').on('click', function () {
                if ($(this).hasClass('ui fluid large blue')) {
                    $(this).html('Conectando...').toggleClass('disabled loading');
                    $('#formId').submit();
                }
                else {
                    $(this).html('Guardar').toggleClass('ui fluid large blue');
                }
            });
        });
    </script>


}

