﻿<div class="panel-heading">
    @if (TempData["error"] != null)
    {
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
                Ha ocurrido un error mientras se realizaba la operación.
            </div>
            <ul class="list">
                <li>@TempData["error"]</li>

            </ul>
        </div>

    }

    @if (TempData["errorCredenciales"] != null)
    {
        <form>
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">
                    Ha ocurrido un error mientras se realizaba la operación.
                </div>
                <ul class="list">
                    @TempData["errorCredenciales"]
                </ul>
                @*<button asp-controller="MikrotikCredentials" asp-action="LoginMikrotik" class="ui red button">Adicionar credenciales</button>*@
            </div>
            @*<div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @TempData["errorCredenciales"]

                </div>*@
        </form>
    }

    @if (TempData["success"] != null)
    {
        <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["success"]
            </div>

        </div>
    }

</div>

<script>
    $('.message.close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');

        });
</script>