﻿@model wzmData.Models.ApDevice
@using wzm.ViewComponents
@using wzmData.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))
<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar dispositivo de otro fabricante (Punto de Acceso)
</h4>



<div class="ui bottom blue attached segment">

    <form asp-action="CreateAp" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui error message"></div>
        <div class="three required fields">
            <div class="field">
                <label asp-for="Mac"></label>
                <input asp-for="Mac" />
                <span asp-validation-for="Mac" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Hostname"></label>
                <input asp-for="Hostname" />
                <span asp-validation-for="Hostname" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Platform"></label>
                <input asp-for="Platform" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
        </div>
        <div class="three required fields">
            <div class="field">
                <label asp-for="Firmware"></label>
                <input asp-for="Firmware" />
                <span asp-validation-for="Firmware" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="SSID"></label>
                <input asp-for="SSID" />
                <span asp-validation-for="SSID" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Ip"></label>
                <input asp-for="Ip" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label asp-for="Ubicacion"></label>
                <input asp-for="Ubicacion" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>

        </div>


        <h4 class="ui horizontal divider header">
            <i class="ui shield icon"></i> Seguridad
        </h4>
        <div class="field">
            <div class="field">
                <label asp-for="WirelessSecurity"></label>
                <select asp-for="WirelessSecurity" class="ui selection dropdown" asp-items="@Html.GetEnumSelectList<WirelessSecurity>()"></select>
                <span asp-validation-for="WirelessSecurity" class="text-danger"></span>
            </div>
        </div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>

@section scripts{

    <script>

        $(document).ready(function () {
                 $('.ui.form')
                .form({
                    on: 'blur',
                    fields: {
                        Mac: {
                            Mac: 'Mac',
                            rules: [{
                                type: 'regExp',
                                value: '^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$',
                                prompt: "La MAC introducida no es correcta."
                            }]

                        },

                        Firmware: {
                            Firmware: 'Firmware',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'El campo Firmware es obligatorio.'
                                }

                            ]
                        }
                    }
                });


        });

    </script>

}