﻿@model wzmData.Models.Dispositivo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
        <i class="warning icon"></i>
        Al eliminar el dispositivo, todos sus usuarios serán eliminados también. Si no desea que estos sean eliminados,cámbielos hacia otro dispositivo.
    </div>

</div>
<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    ¿Seguro deseas eliminar el dispositivo?
</h4>
<div class="ui bottom blue attached segment">


    <form asp-action="Delete">

        <div class="ui buttons">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Eliminar</button>
        </div>
    </form>
</div>



