﻿@using wzmData.Models
@model IEnumerable<AdminDevices>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}


@await Component.InvokeAsync(nameof(Messages))


<h4 class="ui horizontal divider header">
    Dispositivos Administradores (Mikrotik)
</h4>
<form class="ui form">
    <div class="fields">
        <button asp-action="CreateAdmin" class="ui small red labeled icon button">
            <i class="add circle icon"></i> Adicionar
        </button>
    </div>

</form>
<form class="ui form">
    <table id="adminTable" class="ui celled table" style="width:100%">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hostname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hostname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </td>
                    <td>
                        <a asp-action="EditAdmin" data-tooltip="Editar" asp-route-id="@item.Id"><i class="small violet edit icon"></i></a>

                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="small red delete icon"></i></a>

                    </td>
                </tr>
            }


        </tbody>
    </table>
</form>


@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>

        $(document).ready(function () {

            $('#adminTable').DataTable();
           
        });
    </script>
}
