﻿@model wzmData.Models.ApplicationServices
@using wzm.ViewComponents
@{
    ViewData["Title"] = "DisableService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))


<h2>¿Desea deshabilitar el servicio @Html.DisplayFor(model => model.ServiceType)?</h2>



<form asp-action="Disable">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="State" />
   
    <input type="hidden" asp-for="ServiceType" />
    <div class="ui section divider"></div>

    <div class="actions">
        <a asp-action="Index" class="ui small red left labeled icon button">
            Cancelar
            <i class="cancel icon"></i>
        </a>
        <button class="ui small primary left labeled icon button" type="submit">
            Parar
            <i class="stop icon"></i>
        </button>
    </div>

    @*<div class="ui buttons">
        <a asp-action="Index" class="ui primary button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui negative button">Parar</button>
    </div>*@
</form>

@*@section scripts{
    <script>
        $('.ui.checkbox')
            .checkbox();
    </script>
}*@
