﻿@model wzmData.Models.MorososService
@using wzm.ViewComponents
@{
    ViewData["Title"] = "EnableService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))


<h2>¿Desea habilitar el servicio @Html.DisplayFor(model => model.ServiceType)?</h2>


<form asp-action="EnableMorosos" method="post" class="ui form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="State" />
    <input type="hidden" asp-for="ServiceType" />
    <input type="hidden" asp-for="Version" />
    <div class="two fields">

        <div class="required field">
            <label>Horario de Ejecución</label>
            <input asp-for="Horario" />
            <span asp-validation-for="Horario" class="text-danger"></span>
        </div>

        <div class="required field">
            <label>Página a Redireccionar</label>
            <input asp-for="RedirecTo" />
            <span asp-validation-for="RedirecTo" class="text-danger"></span>
        </div>


    </div>

    <div class="ui section divider"></div>

    <div class="actions">
        <a asp-action="Index" class="ui small red left labeled icon button">
            Cancelar
            <i class="cancel icon"></i>
        </a>
        <button class="ui small primary left labeled icon button" type="submit">
            Iniciar
            <i class="play icon"></i>
        </button>
    </div>


</form>
