﻿@model wzmData.Models.ApplicationServices
@using wzmCore.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "EnableService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))


<h2>¿Desea habilitar el servicio @Html.DisplayFor(model => model.ServiceType)?</h2>



<form asp-action="Enable" method="post">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="State" />
    <input type="hidden" asp-for="ServiceType" />
    <input type="hidden" asp-for="Version" />
    <div class="ui section divider"></div>

    <div class="actions">
        <a asp-action="Index" class="ui small red left labeled icon button">
            Cancelar
            <i class="cancel icon"></i>
        </a>
        <button class="ui small primary left labeled icon button" type="submit">
            Iniciar
            <i class="play icon"></i>
        </button>
    </div>


</form>



