﻿@model IEnumerable<wzmData.Models.ApplicationServices>
@using wzm.ViewComponents
@using wzmData.Enum
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<div class="panel-heading"></div>

<h2 class="ui header">
    Servicios
</h2>

<table class="ui stackable celled table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @if (item.State == ServicesStatus.Running)
                    {
                        <i class="small green check icon"></i>@item.State
                    }
                    else
                    {
                        <i class="small red stop icon"></i>@item.State
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @if (item.State == ServicesStatus.Running)
                    {
                        <a asp-action="Disable" data-tooltip="Parar" asp-route-id="@item.Id"><i class="small red stop icon"></i></a>
                    }

                    else
                    {
                        <a asp-action="Enable" data-tooltip="Iniciar" asp-route-id="@item.Id"><i class="small green play icon"></i></a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
