﻿@model wzmData.Models.CuentaNauta
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h4 class="ui top attached block header">
    Adicionar Cuenta Nauta
</h4>

<div class="ui bottom blue attached segment">

    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dvi class="ui error message"></dvi>
        <div class="field">
            <label asp-for="User"></label>
            <input asp-for="User" />
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="PortalId"></label>
            <select asp-for="PortalId" class="ui selection dropdown" asp-items="ViewBag.Portales"></select>
            <span asp-validation-for="PortalId" class="text-danger"></span>
        </div>
        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>

</div>


