﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    Hide captions
    .carousel-caption {
        display: none;
    }
}


.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}


.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.text-danger {
    color: #a94442;
}

.ui.column.grid > .column,
.ui.column.grid > .row > .column {
    display: block;
    float: left;
}

.ui.horizontal.segments.equal.width > .ui.segment {
    flex-grow: 1;
    width: 0;
}