﻿@model wzmData.Models.ClasificadorPago
@using wzm.ViewComponents
@using wzmData.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h4 class="ui top attached block header">
    Adicionar Clasificador de Pago
</h4>


<div class="ui bottom blue attached segment">
    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <dvi class="ui error message"></dvi>

        <div class="three fields">

            <div class="field">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" id="paymentId" class="ui selection dropdown" asp-items="@Html.GetEnumSelectList<PaymentType>()"><option></option></select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>

            @if (ViewBag.Payment != null)
            {
                if ((int)ViewBag.Payment == 0)
                {
                    <div class="field">
                        <label asp-for="DiaPago"></label>
                        <input disabled id="diaId" asp-for="DiaPago" />
                        <span asp-validation-for="DiaPago" class="text-danger"></span>
                    </div>

                    <div class="field">
                        <label asp-for="Importe" class="control-label"></label>
                        <input disabled id="importeId" asp-for="Importe" class="form-control" />
                        <span asp-validation-for="Importe" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="field">
                        <label asp-for="DiaPago"></label>
                        <input id="diaId" asp-for="DiaPago" />
                        <span asp-validation-for="DiaPago" class="text-danger"></span>
                    </div>

                    <div class="field">
                        <label asp-for="Importe" class="control-label"></label>
                        <input id="importeId" asp-for="Importe" class="form-control" />
                        <span asp-validation-for="Importe" class="text-danger"></span>
                    </div>
                }
            }
            else
            {
                <div class="field">
                    <label asp-for="DiaPago"></label>
                    <input id="diaId" asp-for="DiaPago" />
                    <span asp-validation-for="DiaPago" class="text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="Importe" class="control-label"></label>
                    <input id="importeId" asp-for="Importe" class="form-control" />
                    <span asp-validation-for="Importe" class="text-danger"></span>
                </div>
            }



        </div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $(document).ready(function () {


                $('#paymentId').change(function () {

                    var url = $("#paymentId option:selected").val();

                    if (url == 1) {
                        $('#diaId').removeAttr('disabled');
                        $('#importeId').removeAttr('disabled');
                    }
                    else {
                        $('#diaId').attr('disabled', 'disabled');
                        $('#importeId').attr('disabled', 'disabled');
                    }
                });

                $('.ui.form')
                    .form({
                        on: 'blur',
                        fields: {
                            PaymentType: {
                                PaymentType: 'PaymentType',
                                rules: [{
                                    type: 'empty',

                                    prompt: 'El campo Tipo de Pago es obligatorio.'
                                }]

                            },

                        }
                    })
                    ;


            });



        </script>
    }
