﻿
@model IOrderedEnumerable<wzmCore.Data.Mikrotik.WirelessRegistrationModel>


@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Interface
        </td>
        <td>
            @item.MacAddress
        </td>
        <td>
            @item.SignalStrength
        </td>
        <td>
            @item.TxRate
        </td>
        <td>
            @item.RxRate
        </td>
        <td>
            @item.Ccq
        </td>

    </tr>
}







