﻿@using wzm.ViewComponents

@{
    ViewData["Title"] = "RegistrationTable";

}


@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Registration Table
</h2>

<form>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Interface")
                </th>
                <th>
                    @Html.DisplayName("MAC Address")
                </th>

                <th>
                    @Html.DisplayName("Signal")
                </th>
                <th>
                    @Html.DisplayName("Tx Rate")
                </th>
                <th>
                    @Html.DisplayName("Rx Rate")
                </th>
                <th>
                    @Html.DisplayName("CCQ")
                </th>

            </tr>
        </thead>
        <tbody id="tableId">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Interface
                    </td>
                    <td>
                        @item.MacAddress
                    </td>
                    <td>
                        @item.SignalStrength
                    </td>
                    <td>
                        @item.TxRate
                    </td>
                    <td>
                        @item.RxRate
                    </td>
                    <td>
                        @item.Ccq
                    </td>

                </tr>
            }

    </table>
</form>
@section Scripts{

    <script src="~/js/RefreshRegistrationTable.js"></script>
}
