﻿@model IEnumerable<tik4net.Objects.Ip.DhcpServer.DhcpServerNetwork>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "DhcpLeases";
}
@await Component.InvokeAsync(nameof(Messages))



<h2 class="ui header">
    DHCP Server Network
</h2>

<form class="ui form">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    Address
                </th>
                <th>
                    Gateway
                </th>
                <th>
                    Servidor DNS
                </th>
                <th>
                    Dominio
                </th>
                <th>
                    Servidores WINS
                </th>
                <th>
                    Next Server
                </th>
                @*<th>Acciones</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.Gateway
                    </td>
                    <td>
                        @item.DnsServer
                    </td>
                    <td>
                        @item.Domain
                    </td>
                    <td>
                        @item.WinsServer
                    </td>

                    <td>
                        @item.NextServer
                    </td>
                    @*<td>
                        <a asp-action="Details" data-tooltip="Detalles" asp-route-id="@item.Id"><i class="large blue eye icon"></i></a>
                    </td>*@
                </tr>
            }
        </tbody>

    </table>

</form>

