﻿@model wzmCore.Data.Mikrotik.FirewallAddressViewModel

@{
    ViewData["Title"] = "AddAddressList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Adicionar Address List
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="AddAddressList" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui error message"></div>
        <div class="four wide fields">
            <div class="required field">
                <label asp-for="Address"></label>
                <input asp-for="Address" name="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="List"></label>
                <select asp-for="List" name="List" class="ui selection dropdown" asp-items="ViewBag.Salida"></select>
                <span asp-validation-for="List" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="Usuario"></label>
                <input asp-for="Usuario" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
        </div>


        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>
    </form>
</div>

@section scripts{

    <script>
        
        $('.ui.form')
            .form({
                on: 'blur',
                fields: {
                    Address: {
                        Address: 'Address',
                        rules: [{
                            type: 'empty',
                            prompt: 'El campo Address es obligatorio.'
                        }]

                    },

                    Servicios: {
                        Servicios: 'Servicios',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Debe seleccionar al menos un servicio.'
                            }

                        ]
                    }


                }
            })
            ;
    </script>

}
