﻿@model tik4net.Objects.Ip.Firewall.FirewallAddressList

@{
    ViewData["Title"] = "Eliminar";
}
<div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
        <i class="warning icon"></i>
        Al eliminar un AddressList, si este pertenece a un usuario, este se quedará sin servicio de Internet.
    </div>

</div>
<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    ¿Seguro deseas eliminar este AddressList?
</h4>
<div class="ui bottom blue attached segment">


    <form asp-action="Delete">

        <div class="ui buttons">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Eliminar</button>
        </div>
    </form>
</div>
