﻿@model wzmCore.Data.Mikrotik.FirewallAddressViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Editar Address List
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Edit" class="ui form">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="ui error message"></div>
        <div class="three wide fields">
            <div class="required field">
                <label asp-for="Address"></label>
                <input asp-for="Address" name="Address" />
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
            <div class="required field">
                <label asp-for="List"></label>
                <select asp-for="List" name="List" class="ui search dropdown" asp-items="ViewBag.List"></select>
                <span asp-validation-for="List" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="Usuario"></label>
                <input asp-for="Usuario" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>



        </div>
        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui red button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui primary button">Guardar</button>
        </div>
    </form>
</div>

<script>
    $('.ui.form')
        .form({
            fields: validationRules,
            inline: true,
            on: 'blur'
        })
        ;
</script>