﻿@model IEnumerable<tik4net.Objects.Ip.Firewall.FirewallAddressList>
@using wzm.ViewComponents
@{
    ViewData["Title"] = "FirewallAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    Firewall Address List
</h2>
<form class="ui form">
    <div class="inline fields">
        @if (TempData["errorCredenciales"] != null)
        {

            <button disabled asp-action="AddAddressList" class="ui small green labeled icon button">
                <i class="add circle icon"></i> Adicionar
            </button>
        }
        else
        {
            <button asp-action="AddAddressList" class="ui small green labeled icon button">
                <i class="add circle icon"></i> Adicionar
            </button>

        }
        <button asp-action="SaveToDatabase" class="ui small primary labeled icon button">
            <i class="save icon"></i> Hacer Salva
        </button>
        <button asp-action="RestoreToDevice" class="ui small red labeled icon button">
            <i class="refresh icon"></i> Restaurar
        </button>
    </div>

    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Interfaz
                </th>
                <th>
                    Ip
                </th>
                <th>
                    Deshabilitado
                </th>
                <th>
                    Comentario
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Disabled)
                {
                    <tr class="negative">
                        <td>
                            @Html.DisplayFor(modelItem => item.List)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>

                        <td>
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="blue small edit icon"></i></a>
                            <a asp-action="DisableOrEnable" data-tooltip="Habilitar" asp-route-id="@item.Id"><i class="green small checkmark icon"></i></a>
                            <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red small delete icon"></i></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="positive">
                        <td>
                            @Html.DisplayFor(modelItem => item.List)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>

                        <td>
                            <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@item.Id"><i class="blue small edit icon"></i></a>
                            <a asp-action="DisableOrEnable" data-tooltip="Deshabilitar" asp-route-id="@item.Id"><i class="red small ban icon"></i></a>
                            <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@item.Id"><i class="red small delete icon"></i></a>
                        </td>
                    </tr>
                }

            }
        </tbody>

    </table>
</form>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}