﻿@model wzmData.Models.Time

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Daily)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Daily)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monthly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monthly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayOfMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayOfMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Minutos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Minutos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
