﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
}
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<h2>@ViewData["Title"]</h2>


<form id="change-password-form" method="post" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="three fields">
        <div class="field">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-control" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

    </div>

    <div class="actions">
        <a asp-action="Index" asp-controller="Home" class="ui small red left labeled icon button">
            Cancelar
            <i class="cancel icon"></i>
        </a>
        <button class="ui small positive left labeled icon button" type="submit">
            Guardar
            <i class="checkmark icon"></i>
        </button>
    </div>

   

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
