﻿@using wzmData.Models
@model IEnumerable<ApplicationUsers>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUsers> userManager

@using wzmCore.Enum

<table id="example" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.ClienteDesde)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPaymentState)
            </th>

       
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            
                <tr class="negative">
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserName)
                    </td>
                


                    <td>
                        @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => usuario.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                    </td>

               
                    <td>
                        <a asp-action="DesbloquearUsuario" data-tooltip="Desbloquear" asp-route-id="@usuario.Id"><i class="small positive unlock icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@usuario.Id"><i class="small red recycle icon"></i></a>

                    </td>
                </tr>
           
        }
    </tbody>
</table>

