﻿@using wzmData.Models
@model IEnumerable<ApplicationUsers>
@using Microsoft.AspNetCore.Identity
@using wzmData.Enum
@inject UserManager<ApplicationUsers> userManager

@using wzmCore.Enum

<table id="example" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.ClienteDesde)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPaymentState)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            if (usuario.Estado == StatusEnum.Deshabilitado || usuario.UserPaymentState == UserPaymentState.Atrasado)
            {
                <tr class="negative">
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserName)
                    </td>
               


                    <td>
                        @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => usuario.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                    </td>

                
                    <td>
                        @if (await userManager.IsLockedOutAsync(usuario))
                        {
                            <a asp-action="DesbloquearUsuario" data-tooltip="Desbloquear" asp-route-id="@usuario.Id"><i class="small positive unlock icon"></i></a>
                        }
                        else
                        {
                            <a asp-action="BloquearUsuario" data-tooltip="Bloquear" asp-route-id="@usuario.Id"><i class="small grey lock icon"></i></a>
                        }
                        <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@usuario.Id"><i class="teal location arrow icon"></i></a>
                        <a asp-action="ChangeClientDevice" data-tooltip="Cambiar Dispositvo del Cliente" asp-route-id="@usuario.Id"><i class="ocean mobile alternate icon"></i></a>
                        <a asp-action="ChangeClientToAnotherDevice" data-tooltip="Cambiar Cliente a otro Dispositivo" asp-route-id="@usuario.Id"><i class="violet computer icon"></i></a>
                        <a asp-action="ChangeClientIp" data-tooltip="Cambiar Ip del Cliente" asp-route-id="@usuario.Id"><i class="red laptop icon"></i></a>
                        <a asp-action="ResetPassword" data-tooltip="Cambiar Contraseña" asp-route-id="@usuario.Id"><i class="orange exchange icon"></i></a>
                        <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@usuario.Id"><i class="small blue edit icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@usuario.Id"><i class="small red recycle icon"></i></a>

                    </td>
                </tr>
            }
            else
            {
                <tr class="positive">
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                    </td>

              
                    <td>
                        @if (await userManager.IsLockedOutAsync(usuario))
                        {
                            <a asp-action="DesbloquearUsuario" data-tooltip="Desbloquear" asp-route-id="@usuario.Id"><i class="small green unlock icon"></i></a>
                        }
                        else
                        {
                            <a asp-action="BloquearUsuario" data-tooltip="Bloquear" asp-route-id="@usuario.Id"><i class="small grey lock icon"></i></a>
                        }

                        <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@usuario.Id"><i class="teal location arrow icon"></i></a>
                        <a asp-action="ChangeClientDevice" data-tooltip="Cambiar Dispositvo del Cliente" asp-route-id="@usuario.Id"><i class="ocean mobile alternate icon"></i></a>
                        <a asp-action="ChangeClientToAnotherDevice" data-tooltip="Cambiar Cliente a otro Dispositivo" asp-route-id="@usuario.Id"><i class="violet computer icon"></i></a>
                        <a asp-action="ChangeClientIp" data-tooltip="Cambiar Ip del Cliente" asp-route-id="@usuario.Id"><i class="red laptop icon"></i></a>
                        <a asp-action="ResetPassword" data-tooltip="Cambiar Contraseña" asp-route-id="@usuario.Id"><i class="orange exchange icon"></i></a>
                        <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@usuario.Id"><i class="small blue edit icon"></i></a>
                        <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@usuario.Id"><i class="small red recycle icon"></i></a>

                    </td>
                </tr>
            }

        }
    </tbody>
</table>

