﻿
@{
    ViewData["Title"] = "Dispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h2>Cambiar de Dispositivo a: @ViewBag.UserName</h2>

<div class="ui section divider"></div>

<form asp-action="ChangeClientToAnotherDevice" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ui error message"></div>

    <input hidden name="id" value="@ViewBag.UserId" />
    <input hidden name="oldMac" value="@ViewBag.Dispositivo" />
    <div class="three fields">
        <div class="field">
            <label>Dispositivo Actual</label>
            <input value="@ViewBag.Dispositivo" disabled autocomplete="off" />

        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <label>Cambiar Por</label>
            <select name="newDispositivoId" asp-items="@ViewBag.Dispositivos" class="ui search dropdown" ></select>

        </div>
    </div>


    <div class="ui buttons">
        <a asp-action="Clients" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>
