﻿@model wzm.ViewModels.UsuarioViewModel
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Adicionar Cliente</h2>


<form asp-action="Create" class="ui form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="ui error message"></div>
    <h4 class="ui horizontal divider header">
        <i class="user icon"></i>
        Datos del Cliente
    </h4>

    <div class="four fields">

        <div class="required field">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="required field">
            <label asp-for="ClienteDesde"></label>
            <div class="ui calendar" id="fechaId">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input asp-for="ClienteDesde" type="text">
                </div>
            </div>
            <span asp-validation-for="ClienteDesde" class="text-danger"></span>
        </div>

        <div class="required field">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


    </div>
    <h4 class="ui horizontal divider header">
        <i class="computer icon"></i>
        Dispositivo
    </h4>

    <div class="three fields">

        <div class="required field">
            <label asp-for="DispositivoId"></label>
            <select asp-for="DispositivoId" class="ui selection dropdown" asp-items="ViewBag.DispositivoId"></select>
            <span asp-validation-for="DispositivoId" class="text-danger"></span>
        </div>

        @*<div class="required field">
                <label asp-for="PortalDeOrigen"></label>
                <select asp-for="PortalDeOrigen" id="portalId" class="ui selection dropdown" asp-items="ViewBag.Salida"></select>
                <span asp-validation-for="PortalDeOrigen" class="text-danger"></span>
                <div id="CantidadUsuarios"></div>
            </div>

            <div class="required field">
                <label asp-for="UserConnectionType"></label>
                <select asp-for="UserConnectionType" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<UserConecctionType>()"></select>
                <span asp-validation-for="UserConnectionType" class="text-danger"></span>
            </div>*@


    </div>
    @*<h4 class="ui horizontal divider header">
        <i class="wi-fi icon"></i>
        IP
    </h4>*@

    <div class="three fields">
        @*<div class="required field">
                <label asp-for="Mac"></label>
                <input asp-for="Mac" />
                <span asp-validation-for="Mac" class="text-danger"></span>
            </div>*@



        @*<div class="required field">
                <label asp-for="TipoIp"></label>
                <select asp-for="TipoIp" id="tipoIp" asp-items="@Html.GetEnumSelectList<IpTypeEnum>()" class="ui selection dropdown"></select>
                <span asp-validation-for="TipoIp" class="text-danger"></span>
            </div>
            <div class="required field" id="dhcpServer">
                <label asp-for="DhcpServer"></label>
                <select id="dhcpServerField" asp-for="DhcpServer" class="ui selection dropdown" asp-items="@ViewBag.DhcpServer"></select>
                <span asp-validation-for="DhcpServer" class="text-danger"></span>
            </div>
            <div class="required field">
                <label asp-for="Ip"></label>
                <input id="ipField" disabled asp-for="Ip" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>*@

    </div>

    <h4 class="ui horizontal divider header">
        <i class="money icon"></i>
        Pago
    </h4>


    <div class="two fields">

        <div class="required field">
            <label asp-for="UserPaymentState"></label>
            <select asp-for="UserPaymentState" class="ui selection dropdown" asp-items="@Html.GetEnumSelectList<UserPaymentState>()"></select>
            <span asp-validation-for="UserPaymentState" class="text-danger"></span>
        </div>

        <div class="required field">
            <label asp-for="ClasificadorPagoId"></label>
            <select asp-for="ClasificadorPagoId" class="ui selection dropdown" asp-items="ViewBag.ClasificadorPagoId"></select>
        </div>
    </div>

    <div>

        <div class="ui checkbox">
            <input asp-for="PagoAdelantado" type="checkbox" tabindex="0" class="hidden">
            <label asp-for="PagoAdelantado"></label>

        </div>

    </div>

    <h4 class="ui horizontal divider header">

        Servicios
    </h4>

    <div class="two fields">
        <div class="required field">
            <label asp-for="Servicios"></label>
            <select asp-for="Servicios" asp-items="@ViewBag.Servicios" class="ui selection dropdown" multiple></select>
            <span asp-validation-for="Servicios" class="text-danger"></span>
        </div>
    </div>

    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <script>
        $(document).ready(function () {
            $('#fechaId').calendar({
                type: 'date'
            });
            $('.ui.checkbox')
                .checkbox();
            $('#tipoIp').change(function () {

                var url = $("#tipoIp option:selected").val();

                if (url == 1) {
                    $('#ipField').removeAttr('disabled');

                    var element = document.getElementById("dhcpServer");
                    element.className = 'required disabled field';
                                        
                    
                }
                else {
                    $('#ipField').attr('disabled', 'disabled');

                    var element = document.getElementById("dhcpServer");
                    element.className = 'required field';
                                       
                }
            });

            $('#portalId').change(function () {

                var url = "@Url.Action("CantidadUsuarios", "Clients")/" + $("#portalId option:selected").val();
                $('#CantidadUsuarios').load(url);

            });

            $('.ui.form')
                .form({
                    on: 'blur',
                    fields: {
                        Mac: {
                            Mac: 'MAC',
                            rules: [{
                                type: 'regExp',
                                value: '^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$',
                                prompt: "La MAC introducida no es correcta."
                            }]

                        },

                        Servicios: {
                            Servicios: 'Servicios',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Debe seleccionar al menos un servicio.'
                                }

                            ]
                        }


                    }
                })
                ;

        });



    </script>
}
