﻿@model wzmData.Models.ApplicationUsers
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    ¿Está seguro que desea eliminar este usuario?

</h2>



<table class="ui collapsing table">
    <tbody>

        <tr>
            <td class="right aligned"><h4>Cliente:</h4></td>
            <td>@Html.DisplayFor(model => model.UserName)</td>

        </tr>
        @*<tr>
                <td class="right aligned"><h4>Dispositivo:</h4></td>
                <td>@Html.DisplayFor(model => model.Dispositivo.GetDispositivo)</td>

            </tr>*@




    </tbody>
</table>
@*<dl class="ui dl horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteDesde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteDesde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nick)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nick)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserPaymentState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserPaymentState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dispositivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dispositivo.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClasificadorPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClasificadorPago.Id)
        </dd>
    </dl>*@

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Eliminar" class="ui red button" /> |
    <a asp-action="Index" class="ui default button">Regresar</a>
</form>

