﻿@model wzm.ViewModels.UsuarioViewModel
@using wzmData.Models
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Detalles del Cliente</h2>


<form class="ui form">

    <h4 class="ui horizontal divider header">
        <i class="user icon"></i>
        Datos del Cliente
    </h4>

    <div class="four fields">

        <div class="field">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" disabled />

        </div>

        <div class="field">
            <label asp-for="ClienteDesde"></label>
            <div class="ui calendar" id="fechaId">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input asp-for="ClienteDesde" disabled type="text">
                </div>
            </div>

        </div>
    </div>
    <h4 class="ui horizontal divider header">
        <i class="computer icon"></i>
        Dispositivo
    </h4>

    <div class="three fields">

        <div class="field">
            <label asp-for="DispositivoId"></label>

            @if (ViewBag.DispositivoId != null)
            {
                <input value="@ViewBag.DispositivoId" disabled>
            }
            else
            {
                <input disabled>
            }


        </div>

    </div>

    <h4 class="ui horizontal divider header">
        <i class="money icon"></i>
        Pago
    </h4>


    <div class="two fields">

        <div class="field">
            <label asp-for="UserPaymentState"></label>
            <select asp-for="UserPaymentState" class="ui selection dropdown" disabled asp-items="@Html.GetEnumSelectList<UserPaymentState>()"></select>

        </div>

        <div class="field">
            <label asp-for="ClasificadorPagoId"></label>
            <input disabled value="@ViewBag.ClasificadorPagoId">
        </div>
    </div>

    <div>

        <div class="ui checkbox">
            <input asp-for="PagoAdelantado" disabled type="checkbox" tabindex="0" class="hidden">
            <label asp-for="PagoAdelantado"></label>

        </div>

    </div>

    <h4 class="ui horizontal divider header">

        Servicios
    </h4>

    <div class="two fields">
        <div class="field">
            <label asp-for="Servicios"></label>
            <select asp-for="Servicios" asp-items="@ViewBag.Servicios" disabled class="ui selection dropdown" multiple></select>

        </div>
    </div>


    <h2 class="ui header">
        Dipositivos
    </h2>
    <div class="ui section divider"></div>
    <div class="ui form">
        <table id="example" class="ui celled table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>

                    <th>
                        MAC
                    </th>
                    <th>
                        IP
                    </th>
                    <th>
                        Portal
                    </th>
                    <th>
                        Tipo de Ip
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var d in ViewBag.Dispositivos)
                {
                    var f = (UserDevice)d;

                    if (f.Disabled)
                    {
                        <tr class="negative">
                            <td>
                                @Html.DisplayFor(modelItem => f.Comment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.Mac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.Ip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.PortalDeOrigen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.TipoIp)
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr class="positive">
                            <td>
                                @Html.DisplayFor(modelItem => f.Comment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.Mac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.Ip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.PortalDeOrigen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => f.TipoIp)
                            </td>


                        </tr>
                    }




                }
            </tbody>
        </table>
    </div>

</form>
