﻿@using wzmData.Models
@model IEnumerable<ApplicationUsers>
@using wzmCore.Enum
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUsers> userManager
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}

<h2 class="ui header">
    Usuarios Deshabilitados por Dispositivo
</h2>
<div class="ui section divider"></div>
<div class="ui form">
    <div class="three fields">
        <div class="field">
            <select id="dispositivo_Id" class="ui search dropdown" asp-items="@ViewBag.Dispositivos"></select>
        </div>
        <div class="field">
            <button class="ui small red button" id="mostrarId">Mostrar</button>
        </div>

    </div>
</div>
<div class="ui section divider"></div>
<div id="users_Table"></div>
<div class="ui section divider"></div>

<h2 class="ui header">
    Usuarios Deshabilitados
</h2>
<table id="example" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ClienteDesde)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPaymentState)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {

            <tr class="negative">
                <td>
                    @Html.DisplayFor(modelItem => usuario.UserName)
                </td>
              
             


                <td>
                    @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => usuario.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                </td>

           
           
                <td>

                    <a asp-action="DesbloquearUsuario" data-tooltip="Desbloquear" asp-route-id="@usuario.Id"><i class="small positive unlock icon"></i></a>
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@usuario.Id"><i class="small red recycle icon"></i></a>

                </td>
            </tr>

        }
    </tbody>
</table>


@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable();

            $('#mostrarId').click(function () {
                var i = $("#dispositivo_Id").val();
                $(this).html('Cargando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'GetDisabledUserByDevice',
                    cache: false,
                    dataType: 'html',
                    data: { 'dispositivoId': i },
                    success: function (html) {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                        $('#users_Table').html(html);
                    },
                    error: function () {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                    },
                });
            });
            $('#sincId').click(function () {
                var i = $("#dispositivo_Id").val();
                $(this).html('Sincronizando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'Usuarios/SincWithDevice',
                    cache: false,
                    dataType: 'html',
                    data: { 'dispositivoId': i },
                    success: function (html) {
                        $('#sincId').html('Sincronizar').removeClass().addClass('ui small primary button');
                        $('#users_Table').html(html);
                    },
                    error: function () {
                        $('#sincId').html('Sincronizar').removeClass().addClass('ui small primary button');
                    },
                });
            });


        });


    </script>

}
