﻿@model wzm.ViewModels.UserEditViewModel
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Editar Usuario</h2>


<form asp-action="Edit" class="ui form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" id="userId" asp-for="Id" />

    <h4 class="ui horizontal divider header">
        <i class="user icon"></i>
        Datos del Cliente
    </h4>
    <div class="three fields">

        <div class="required field">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="HotspotUser"></label>
            <input asp-for="HotspotUser" />
            <span asp-validation-for="HotspotUser" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="Fecha"></label>
            <input asp-for="Fecha" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>

    </div>

    <h4 class="ui horizontal divider header">
        <i class="computer icon"></i>
        Dispositivo
    </h4>
    <div class="three fields">

        @*<div class="required field">
                <label asp-for="UserConnectionType"></label>
                <select asp-for="UserConnectionType" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<UserConecctionType>()"></select>
                <span asp-validation-for="UserConnectionType" class="text-danger"></span>
            </div>*@


        @*<div class="required field">
                <label asp-for="TipoIp"></label>
                <select asp-for="TipoIp" id="tipoIp" asp-items="@Html.GetEnumSelectList<IpTypeEnum>()" class="ui selection dropdown"></select>
                <span asp-validation-for="TipoIp" class="text-danger"></span>
            </div>

            <div class="field">
                @if (Model.TipoIp == IpTypeEnum.Fija)
                {
                    <label asp-for="Ip"></label>
                    <input id="ipField" asp-for="Ip" />
                    <span asp-validation-for="Ip" class="text-danger"></span>
                }
                else
                {
                    <label asp-for="Ip"></label>
                    <input id="ipField" disabled asp-for="Ip" />
                    <span asp-validation-for="Ip" class="text-danger"></span>
                }
            </div>*@

    </div>


    <h4 class="ui horizontal divider header">
        <i class="money icon"></i>
        Pago
    </h4>
    <div class="two fields">

        <div class="required field">
            <label asp-for="ClasificadorPagoId"></label>
            <select asp-for="ClasificadorPagoId" class="ui selection dropdown" asp-items="ViewBag.ClasificadorPagoId"></select>
        </div>
    </div>

    <div>
        <div class="ui checkbox">
            <input asp-for="PagoAdelantado" type="checkbox" tabindex="0" class="hidden">
            <label asp-for="PagoAdelantado"></label>

        </div>

    </div>

    <h4 class="ui horizontal divider header">

        Servicios
    </h4>
    <div class="two fields">
        <div class="required field">
            <label asp-for="Servicios"></label>
            <select asp-for="Servicios" asp-items="@ViewBag.Servicios" class="ui selection dropdown" multiple></select>
            <span asp-validation-for="Servicios" class="text-danger"></span>
        </div>
    </div>

    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.ui.checkbox')
            .checkbox();
    });
</script>