﻿@using wzm.ViewComponents
@{
    ViewData["Title"] = "Importar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Importar Usuarios desde un Dispositivo
</h2>


<form asp-action="Importar" class="ui form">
    <div class="field">
        <label>Dispositivo:</label>
        <select asp-items="ViewBag.Dispostivos" name="dispositivoId"></select>
    </div>
    <button type="submit" class="ui small primary labeled icon button">
        <i class="download circle icon"></i> Importar
    </button>

</form>
