﻿@*@model wzm.ViewModels.ImportMikrotikViewModel
@using wzmData.Enum
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))
<h2>Importar Cliente desde el Mikrotik</h2>


<form asp-action="ImportFromMikrotik" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="two fields">
        <div class="field">
            <label asp-for="DispositivoId"></label>
            <select asp-for="DispositivoId" class="ui search dropdown" asp-items="ViewBag.Dispositivos"></select>
        </div>

        <div class="field">
            <label asp-for="Mac"></label>
            <input asp-for="Mac" />
            <span asp-validation-for="Mac" class="text-danger"></span>
        </div>

    </div>
    <div class="two fields">
        <div class="required field">
            <label asp-for="UserConnectionType"></label>
            <select asp-for="UserConnectionType" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<UserConecctionType>()"></select>
            <span asp-validation-for="UserConnectionType" class="text-danger"></span>
        </div>
        <div class="required field">
            <label asp-for="ClasificadorPagoId"></label>
            <select asp-for="ClasificadorPagoId" class="ui selection dropdown" asp-items="ViewBag.ClasificadorPagoId"></select>
            <span asp-validation-for="ClasificadorPagoId" class="text-danger"></span>
        </div>
    </div>
    <div class="ui buttons">
        <a asp-action="Index" class="ui red button">Cancelar</a>
        <div class="or" data-text="ó"></div>
        <button type="submit" class="ui primary button">Guardar</button>
    </div>
</form>*@


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $(document).ready(function () {


                $('#tipoIp').change(function () {

                    var url = "@Url.Action("ShowIpField", "Clients")/" + $("#tipoIp option:selected").val();
                    $('#ip_Id').load(url);

                    });
                });

        </script>
    }*@
