﻿@using wzmData.Models
@model IEnumerable<ApplicationUsers>

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUsers> userManager
@using wzm.ViewComponents
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync(nameof(Messages))

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}


<h2 class="ui header">
    <i class="ui user icon"></i>
    Usuarios
</h2>
<form>

    @if (ViewBag.QuantityExceded != null)
    {
        if ((bool)ViewBag.QuantityExceded)
        {
            <div class="fields">
                <button asp-action="Create" disabled class="ui small green labeled icon button">
                    <i class="add circle icon"></i> Adicionar
                </button>
                <button asp-action="Importar" disabled class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar
                </button>
            </div>
        }
        else
        {
            <div class="fields">
                <button asp-action="Create" class="ui small green labeled icon button">
                    <i class="add circle icon"></i> Adicionar
                </button>
                <button asp-action="Importar" class="ui small primary labeled icon button">
                    <i class="download circle icon"></i> Importar
                </button>
            </div>
        }
    }
    else
    {
        <div class="fields">
            <button asp-action="Create" class="ui small green labeled icon button">
                <i class="add circle icon"></i> Adicionar
            </button>
            <button asp-action="Importar" class="ui small primary labeled icon button">
                <i class="download circle icon"></i> Importar
            </button>
        </div>
    }


</form>
<h2 class="ui header">
    Usuarios Habilitados por Dispositivo
</h2>
<div class="ui section divider"></div>
<div class="ui form">
    <div class="three fields">
        <div class="field">
            <select id="dispositivo_Id" class="ui search dropdown" asp-items="@ViewBag.Dispositivos"></select>
        </div>
        <div class="field">
            <button class="ui small red button" id="mostrarId">Mostrar</button>
        </div>

    </div>
</div>
<div class="ui section divider"></div>
<div id="users_Table"></div>
<div class="ui section divider"></div>

<h2 class="ui header">
    Usuarios Habilitados
</h2>
<div class="ui form">
    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Hotspot
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteDesde)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPaymentState)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {

            <tr class="positive">
                <td>
                    @Html.DisplayFor(modelItem => usuario.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.HotSpotUser)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                </td>


                <td>
                    @if (await userManager.IsLockedOutAsync(usuario))
                    {
                        <a asp-action="DesbloquearUsuario" data-tooltip="Desbloquear" asp-route-id="@usuario.Id"><i class="small green unlock icon"></i></a>
                    }
                    else
                    {
                        <a asp-action="BloquearUsuario" data-tooltip="Bloquear" asp-route-id="@usuario.Id"><i class="small grey lock icon"></i></a>
                    }
                    <a asp-action="Details" data-tooltip="Detalles del Usuario" asp-route-id="@usuario.Id"><i class="primary location eye icon"></i></a>
                    <a asp-action="ChangePortal" data-tooltip="Cambiar de Portal" asp-route-id="@usuario.Id"><i class="teal location arrow icon"></i></a>

                    <a asp-action="ChangeClientToAnotherDevice" data-tooltip="Cambiar Cliente a otro Dispositivo" asp-route-id="@usuario.Id"><i class="violet computer icon"></i></a>

                    <a asp-action="ResetPassword" data-tooltip="Cambiar Contraseña" asp-route-id="@usuario.Id"><i class="orange exchange icon"></i></a>
                    <a asp-action="Edit" data-tooltip="Editar" asp-route-id="@usuario.Id"><i class="small blue edit icon"></i></a>
                    <a asp-action="Delete" data-tooltip="Eliminar" asp-route-id="@usuario.Id"><i class="small red recycle icon"></i></a>
                </td>
            </tr>


            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>

        $(document).ready(function () {

            $('#example').DataTable({
                lengthMenu: [[50, 100, -1], [50, 100, "Todos"]],
            });

            $('#mostrarId').click(function () {
                var i = $("#dispositivo_Id").val();
                $(this).html('Cargando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'Usuarios/GetUserByDevice',
                    cache: false,
                    dataType: 'html',
                    data: { 'dispositivoId': i },
                    success: function (html) {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                        $('#users_Table').html(html);
                    },
                    error: function () {
                        $('#mostrarId').html('Mostrar').removeClass().addClass('ui small red button');
                    },
                });
            });
            $('#sincId').click(function () {
                var i = $("#dispositivo_Id").val();
                $(this).html('Sincronizando...').toggleClass('disabled loading');
                $.ajax({

                    url: 'Usuarios/SincWithDevice',
                    cache: false,
                    dataType: 'html',
                    data: { 'dispositivoId': i },
                    success: function (html) {
                        $('#sincId').html('Sincronizar').removeClass().addClass('ui small primary button');
                        $('#users_Table').html(html);
                    },
                    error: function () {
                        $('#sincId').html('Sincronizar').removeClass().addClass('ui small primary button');
                    },
                });
            });


        });




    </script>

}
