﻿
@{
    ViewData["Title"] = "Sin Clasificador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<wzmData.Models.ApplicationUsers>


@using wzm.ViewComponents

@section styles{
    <link href="~/lib/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
}
@await Component.InvokeAsync(nameof(Messages))
<h2 class="ui header">
    Usuarios sin Clasificador de Pago
</h2>
<div class="ui section divider"></div>
<div class="ui form">
    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ClienteDesde)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPaymentState)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserName)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => usuario.ClienteDesde)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => usuario.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => usuario.UserPaymentState)
                    </td>


                </tr>

            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/lib/DataTables/js/dataTables.semanticui.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}