﻿@model tik4net.Objects.Queue.QueueTree
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"></div>
<h4 class="ui top attached block header">
    Editar
</h4>

<div class="ui bottom blue attached segment">
    <form asp-action="Edit" class="ui form">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="ui error message"></div>

        <div class="required field">
            <label>Prioridad</label>
            <input asp-for="Priority" name="Address" />
            <span asp-validation-for="Priority" class="text-red"></span>
        </div>
        <div class="required field">
            <label>Limitar en</label>
            <input asp-for="LimitAt" />
            <span asp-validation-for="LimitAt" class="text-danger"></span>
        </div>
        <div class="required field">
            <label>Límite Máximo</label>
            <input asp-for="MaxLimit" />
            <span asp-validation-for="MaxLimit" class="text-danger"></span>
        </div>




        <div class="ui section divider"></div>

        <div class="ui buttons">
            <a asp-action="Index" class="ui button">Cancelar</a>
            <div class="or" data-text="ó"></div>
            <button type="submit" class="ui positive button">Guardar</button>
        </div>
    </form>
</div>

<script>
    $('.ui.form')
        .form({
            fields: validationRules,
            inline: true,
            on: 'blur'
        })
        ;
</script>

