﻿@using wzm.ViewComponents
@using tik4net.Objects.Queue
@{
    ViewData["Title"] = "Optimizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync(nameof(Messages))

<h2 class="ui header">
    Calidad de Servicio
</h2>
<div class="inline fields">
    <div class="field">
    </div>
    <div class="field">
        <a asp-controller="ConfConexPriority" asp-action="ConfAutomatica" class="ui small negative labeled icon button">
            <i class="add configure icon"></i> Configuración Automática
        </a>

    </div>

</div>

<div class="ui divider"></div>
<div class="ui form">

    <table class="ui compact celled table">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Parent</th>
                <th>Packet Marks</th>
                <th>Limit At</th>
                <th>Max Limit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Parents != null)
            {
                List<QueueTree> parents = (List<QueueTree>)ViewBag.Parents;
                List<QueueTree> qTree = (List<QueueTree>)ViewBag.qTrees;


                foreach (var item in parents)
                {
                    var itemParents = qTree.Where(c => c.Parent.Equals(item.Name));
                    <tr class="positive">
                        <td>
                            <i class="icon wi-fi"></i>
                            @item.Name

                        </td>
                        <td>@item.Parent</td>
                        <td>@item.PacketMark</td>
                        <td>@item.LimitAt</td>
                        <td>@item.MaxLimit</td>
                        <td> <a asp-action="Delete" data-tooltip="Eliminar QoS" asp-route-id="@item.Name"><i class="red small delete icon"></i></a></td>


                    </tr>
                    @foreach (var parent in itemParents)
                    {

                        var limitAt = (int.Parse(parent.LimitAt) / 1000);
                        var maxLimit = (int.Parse(parent.MaxLimit) / 1000);

                        <tr class="negative">
                            <td>@parent.Name</td>
                            <td>@parent.Parent</td>
                            <td>@parent.PacketMark</td>
                            <td>@limitAt K</td>

                            <td>@maxLimit K</td>
                            <td> <a asp-action="Eidt" data-tooltip="Editar" asp-route-id="@item.Id"><i class="blue small edit icon"></i></a></td>

                        </tr>
                    }



                }

            }

        </tbody>

    </table>
</div>